.modal-header { background: #fff; width: 500px; margin: 150px auto 0; }
.modal-body { width: 500px; background: #FFF; max-height: 400px; overflow: auto; margin: 0 auto; }
.modal-footer { width: 500px; background: #FFF; margin: 0 auto; }
.modal-header .close { float:right; }