/* navigation */
.nav-container 		{ background: #cccccc; }

#nav li a:hover 	{ background: #673333; }
#nav li.over a,
#nav li.active a 	{ background: #673333; }

#nav ul li a 		{ background: url(../images/menuSubitemBorder.gif) no-repeat center top #673333 !important; }
#nav ul li a:hover 	{ background: url(../images/menuSubitemBorder.gif) no-repeat center top #003366 !important; }
#nav ul li.active > a,
#nav ul li.over > a { background: #cccccc; }

/* headers */
h1            		{ color: #cccccc; }
h2.pointer			{ background: url(../images/pointerDown.gif) no-repeat bottom; }
h2.pointer span		{ background: #663435; }
h3, h4            	{ color: #336699336699; }

/* basic */
.light 			{ background: #b3999a; }
.mediocre		{ background: #663332; }
.dark			{ background: #cccccc; }
a           	{ color:336699; text-decoration:underline; }
.links a 		{ color: #003366; }
.links a:hover 	{ color: #B3999A; }
.color span		{ color: #336699; }
.imagelink .opacity { 
	background-color: #003366;
	opacity: 0.5;
	border-radius: 8px;
	filter: alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.cat-logo 		{ height: 60px; background: #7f7f7f url(../images/logoUgg.gif) no-repeat 50% 50%; margin: 0 0 10px; }
.links li 		{ border-right: 1px solid #cccccc; }

/* products */
.product-view .box-reviews dd { border-bottom: 1px dashed #8c6666; }
.block-layered-nav .actions, .hproduct a.button, .actions a, .add-to-cart button.submit, .checkout-types button.button, .crosssell a.button, #checkout-step-review button.button {
	color: #FFF;
	background: #cccccc;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#643130), to(#cccccc));
	background: -moz-linear-gradient(#643130, #003366);
	background: linear-gradient(#643130, #003366);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#643130', endColorstr='#cccccc');
	border: 1px solid #003366;
}
.hproduct a.button:hover, .actions a:hover, .add-to-cart input.submit:hover, .checkout-types button.button:hover, .crosssell a.button:hover, #checkout-step-review button.button:hover {
	color: #336699;
	background: #FFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFF), to(#8a6666));
	background: -moz-linear-gradient(#FFF, #cccccc);
	background: linear-gradient(#FFF, #cccccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#8a6666');
	border: 1px solid #8a6666;
}

/* lists & forms */
.block-layered-nav .block-subtitle,
#narrow-by-list2 dt,
#narrow-by-list dt { background: #cccccc; border-top: 1px solid #804d4d; border-bottom: 1px solid #cccccc; margin-bottom: 0px; }
#narrow-by-list2 dd, ol.currently,
#narrow-by-list dd, ol.currently {
	background: #774949;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#774949), to(#663333));
	background: -moz-linear-gradient(#774949, #663333);
	background: linear-gradient(#774949, #663333);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#774949', endColorstr='#336699');
}

.pager { border-top: 1px solid #d5d5cb; border-bottom: 1px solid #cccccc; color: #cccccc; }

.block-account ul { border-bottom: 1px solid #cccccc; }
.block-account li { border-top: 1px solid #cccccc; }
.block-account li.current, .block-account a:hover { background: #cccccc; }

/* footer */
.footer 		{ background: #cccccc; }