<?xml version="1.0"?>
<config>
    <modules>
       <Total_BuckarooTransfer>
          <version>0.3.20</version>
       </Total_BuckarooTransfer>
    </modules>

    <global>
    <blocks>
        <buckarootransfer>
            <class>Total_BuckarooTransfer_Block</class>
        </buckarootransfer>
    </blocks>

        <models>
            <buckarootransfer>
                <class>Total_BuckarooTransfer_Model</class>
            </buckarootransfer>
        </models>
	    <helpers>
            <buckarootransfer>
                <class>Total_BuckarooTransfer_Helper</class>
			</buckarootransfer>  
        </helpers>
        <resources>
            <buckarootransfer_setup>
                <setup>
                    <module>Total_BuckarooTransfer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </buckarootransfer_setup>
            <buckarootransfer_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </buckarootransfer_write>
            <buckarootransfer_read>
               <connection>
                <use>core_read</use>
              </connection>
            </buckarootransfer_read>
        </resources>

    </global>

    <frontend>
	    <routers>
	        <buckarootransfer>
	            <use>standard</use>
	            <args>
	                <module>Total_BuckarooTransfer</module>
	                <frontName>buckarootransfer</frontName>
	            </args>
	        </buckarootransfer>
	    </routers>
	    <translate>
            <modules>
                <Total_BuckarooTransfer>
                    <files>
                        <default>Total_BuckarooTransfer.csv</default>
                    </files>
                </Total_BuckarooTransfer>
            </modules>
        </translate>
    </frontend>

    <default>
        <payment>
            <buckarootransfer>
                <active>0</active>
                <model>buckarootransfer/paymentMethod</model>
                <title>Buckaroo Transfer</title>
                <order_status>pending</order_status>				
                <allowspecific>0</allowspecific>
                <gateway>https://payment.buckaroo.nl/gateway/transfer.asp</gateway>
            </buckarootransfer>
         </payment>
    </default>
</config>