<config>
	<modules>
		<Dealer4dealer_Exactonline>
			<version>1.1.7</version>
		</Dealer4dealer_Exactonline>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Dealer4dealer_Exactonline after="Mage_Adminhtml">Dealer4dealer_Exactonline</Dealer4dealer_Exactonline>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<helpers>
			<exactonline>
				<class>Dealer4dealer_Exactonline_Helper</class>
			</exactonline>
		</helpers>
		<models>
			<exactonline>
				<class>Dealer4dealer_Exactonline_Model</class>
				<resourceModel>exactonline_mysql4</resourceModel>
			</exactonline>
			<exactonline_mysql4>
				<class>Dealer4dealer_Exactonline_Model_Mysql4</class>
				<entities>
					<setting>
						<table>exactonline_setting</table>
					</setting>
					<category>
						<table>exactonline_setting_category</table>
					</category>
					<option>
						<table>exactonline_setting_option</table>
					</option>
					<exactmagento>
						<table>exactonline_exactmagento</table>
					</exactmagento>
                    <log_product>
                        <table>exactonline_log_product</table>
                    </log_product>
                    <log_customer>
                        <table>exactonline_log_customer</table>
                    </log_customer>
                    <log_order>
                        <table>exactonline_log_order</table>
                    </log_order>
                    <log_creditorder>
                        <table>exactonline_log_creditorder</table>
                    </log_creditorder>
                    <log_shipment>
                        <table>exactonline_log_shipment</table>
                    </log_shipment>
                    <log_revenue>
                        <table>exactonline_log_revenue</table>
                    </log_revenue>
                    <address>
                        <table>exactonline_address</table>
                    </address>
                    <log_guest>
                        <table>exactonline_log_guest</table>
                    </log_guest>
                </entities>
			</exactonline_mysql4>
		</models>
		<blocks>
			<exactonline>
				<class>Dealer4dealer_Exactonline_Block</class>
			</exactonline>
		</blocks>
		<resources>
			<exactonline_write>
				<connection>
					<use>core_write</use>
				</connection>
			</exactonline_write>
			<exactonline_read>
				<connection>
					<use>core_read</use>
				</connection>
			</exactonline_read>
			<exactonline_setup>
				<setup>
					<module>Dealer4dealer_Exactonline</module>
					<class>Dealer4dealer_Exactonline_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</exactonline_setup>
		</resources>
	</global>
	<crontab>
        <jobs>
            <dealer4dealer_exactonline>
                <schedule>
                    <cron_expr>*/30 0,1,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>exactonline/observer::runUpdate</model>
                </run>
            </dealer4dealer_exactonline>
        </jobs>
    </crontab>
	<adminhtml>
        <translate>
            <modules>
                <Dealer4dealer_Exactonline>
                    <files>
                        <default>Dealer4dealer_Exactonline.csv</default>
                    </files>
                </Dealer4dealer_Exactonline>
            </modules>
        </translate>
    </adminhtml>
</config>
