<?xml version="1.0"?>
<config>
	<modules>
		<ArtsOnIT_Autologin>
			<version>0.1.4</version>
			<codePool>local</codePool>
		</ArtsOnIT_Autologin>
	</modules>
	<frontend>
		<events>
			<controller_action_predispatch>
				<observers>
					<autologin>
						<class>autologin/observer</class>
						<method>doAutologin</method>
					</autologin>
				</observers>
			</controller_action_predispatch>
		</events>
	</frontend>
	<admin>
		<routers>
			<autologin>
				<use>admin</use>
				<args>
					<module>ArtsOnIT_Autologin</module>
					<frontName>autologin</frontName>
				</args>
			</autologin>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<customer>
				<children>
					<autologin_list module="autologin">
						<title>Autologin List</title>
						<sort_order>2</sort_order>
						<action>autologin/adminhtml_autologin</action>
					</autologin_list>
				</children>
			</customer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<customer>
					<children>
						<autologin>
							<title>Autologin</title>
							<sort_order>10</sort_order>
						</autologin>
					</children>
				</customer>
			</resources>
		</acl>
		<translate>
            <modules>
                <ArtsOnIT_Autologin>
                    <files>
                        <default>ArtsOnIT_Autologin.csv</default>
                    </files>
                </ArtsOnIT_Autologin>
            </modules>
        </translate>
		<layout>
            <updates>
                <autologin>
                    <file>autologin.xml</file>
                </autologin>
            </updates>
        </layout>
	</adminhtml>
	<global>
		<events>
			<customer_save_after>
				<observers>
					<autologin>
						<class>autologin/observer</class>
						<method>saveCustomer</method>
					</autologin>
				</observers>
			</customer_save_after>
			<magemonkey_mergevars_after>
				<observers>
					<autologin>
						<class>autologin/observer</class>
						<method>updateMailChip</method>
					</autologin>
				</observers>
			</magemonkey_mergevars_after>
		</events>
		<models>
			<autologin>
				<class>ArtsOnIT_Autologin_Model</class>
				<resourceModel>autologin_mysql4</resourceModel>
			</autologin>
			<core>
				<rewrite>
					<url>ArtsOnIT_Autologin_Model_Url</url>
				</rewrite>
			</core>
			<autologin_mysql4>
				<class>ArtsOnIT_Autologin_Model_Mysql4</class>
				<entities>
					<autologin>
						<table>autologin</table>
					</autologin>
				</entities>
			</autologin_mysql4>
		</models>
		<resources>
			<autologin_setup>
				<setup>
					<module>ArtsOnIT_Autologin</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</autologin_setup>
		</resources>
		<blocks>
			<autologin>
				<class>ArtsOnIT_Autologin_Block</class>
			</autologin>
		</blocks>
		<helpers>
			<autologin>
				<class>ArtsOnIT_Autologin_Helper</class>
			</autologin>
		</helpers>
	</global>
	<default>
		<customer>
			<autologin>
				<enabled>1</enabled>
				<urlparam>al</urlparam>
				<mailchimp_var>AUTOLOGIN</mailchimp_var>
			</autologin>
		</customer>
	</default>
</config>
