<phpunit bootstrap="index.php"  colors="true">         
        <testsuite name="Default Project">
                <directory>./</directory>               
        </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../inc/application/</directory>
            <exclude>
	            <file>../inc/application/modules/default/controllers/ErrorController.php</file>
                <directory suffix=".phtml">../inc/application/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>         
</phpunit>
