" (This was a gift)","(Dit was een geschenk)"
"(Bundled Product)","(Gebundelde product)"
"(received a gift)","(ontving een geschenk)"
"* Required Fields","* Verplichte velden"
"--","-"
"-- Please Select --","-- Selecteer alstublieft --"
"-- Select a Condition --","- Selecteer een Voorwaarde -"
"-- Select a Reason --","- Kies een reden -"
"-- Select a Resolution --","- Selecteer een Voorkeur -"
"-- Select an Order --","- Kies een Order -"
"Condition","Staat"
"Quantity to return","Aantal retour"
"Reason","Reden"
"Resolution","Voorkeur"
"Active","Actief"
"Add Comment","Voeg commentaar toe"
"Add Message","Bericht toevoegen"
"Add New Condition","Voeg nieuwe voorwaarden toe"
"Add New Field","Nieuw veld toevoegen"
"Add New RMA","Nieuwe RMA toevoegen"
"Add New Reason","Voeg een nieuwe reden toe"
"Add New Resolution","geef nieuwe voorkeur op"
"Add New Status","Selecteer nieuwe status"
"Additional Information","Extra informatie"
"All","Alle"
"Allow Everything","Laat alles"
"Allow both ways","Laat beide manieren"
"Allow to request RMA after order completion, days","Laat RMA aanvragen na bestelling voltooid, dagen"
"Allow to request RMA if order has status","Laat RMA vragen als een order status heeft"
"Allow upload only attachments with extensions","Laat upload alleen bijlagen met extensies"
"Allowed extensions:","Toegestane extensies:"
"Are you sure?","Weet je het zeker?"
"Ask customer to confirm shipping","Vraag de klant voor verzending te bevestigen"
"Ask to agree with RMA policy text","Vraag of klant akkoord gaat met RMA beleid tekst"
"Attach files","Voeg bestanden toe"
"Automatically","Automatisch"
"Back to My Returns","Terug naar mijn RMA aanvragen"
"Brand","Merk"
"CMS block with RMA policy text","CMS blok met RMA beleid tekst"
"CSV","CSV"
"Change status","Status wijzigen"
"Checkbox","Checkbox"
"City","Stad"
"Code","Code"
"Code of ""Brand"" attribute","Code van de ""Brand"" attribuut"
"Company","Bedrijf"
"Condition","Staat"
"Conditions","voorwaarden"
"Confirm Shipping","bevestigen verzending"
"Contact Information","Contactgegevens"
"Counter Increment Step","Counter Toename Step"
"Counter Length","Counter Length"
"Create Credit Memo","Maak creditnota"
"Create New Condition","Maak Nieuwe Voorwaarde"
"Create New Field","Maak nieuw perceel"
"Create New RMA","Maak Nieuwe RMA"
"Create New Reason","Maak Nieuwe Reden"
"Create New Resolution","Maak Nieuwe Voorkeur"
"Create New Status","Maak Nieuwe Status"
"Create RMA","Maak RMA"
"Create RMA for this customer","Maak RMA voor deze klant"
"Create RMA for this order","Maak RMA voor deze bestelling"
"Created Date","Gemaakt Datum"
"Created From Ticket","Gemaakt Van Ticket"
"Credit Memo #","Credit Memo #"
"Credit memo Adjustment Fee","Creditnota aanpassing toeslag"
"Custom Fields","Aangepaste velden"
"Customer","Klant"
"Customer Account","Klant account"
"Customer Information","Klant informatie"
"Customer Name","Klantnaam"
"Date","Datum"
"Date Requested","Datum aangevraagd"
"Date: %s","Datum:% s"
"Default owner for new RMA","Standaardeigenaar van nieuwe RMA"
"Default status for new RMA","Standaard status voor nieuwe RMA"
"Delete","Verwijder"
"Description","Beschrijving"
"Dictionaries","Termen"
"Disabled","Invalide"
"Don\'t return to Stock","Niet doen terugkeer naar Stock"
"Drop-down list","Keuzelijst"
"Edit Condition '%s'","Voorwaarde bewerken '% s'"
"Edit Field '%s'","Veld bewerken '% s'"
"Edit Reason '%s'","Reden bewerken '% s'"
"Edit Resolution '%s'","Voorkeur Bewerken '% s'"
"Edit Status '%s'","Status bewerken '% s'"
"Email","E-mail"
"Email Address","E-mailadres"
"Email Notification Settings","E-mail Notificatie Instellingen"
"Email Notification for administrator","E-mail Notificatie voor administrator"
"Email Notification for customer","E-mail Notificatie voor klant"
"Email Sender","Email Sender"
"Email or Last Name","E-mail of Achternaam"
"Enable integration with Help Desk","Inschakelen integratie met Help Desk"
"Enable option ""This was a gift""","Ingeschakelen optie 'Dit was een geschenk"""
"Enter valid message.","Voer geldig bericht in"
"Enter your contact information","Voer uw contactgegevens in"
"Exchange Order","Ruilen Order"
"Exchange Order #","Ruilen Order #"
"Exchange Order Information","Wissel Bestel Informatie"
"External Link","Externe link"
"First Name","Voornaam"
"FedEx is incorrectly set up. Check your key/password and account/meter credentials at Configuration -> Sales -> Shipping Methods -> FedEx.","FedEx is niet correct ingesteld. Controleer uw sleutel / wachtwoord en account / meter geloofsbrieven op Configuratie -> Verkoop -> Verzending Methoden -> FedEx."
"General Information","Algemene informatie"
"General Settings","Algemene instellingen"
"Grid","Rooster"
"I agree","Ik ben het eens"
"ID","ID"
"Internal Note","Interne nota"
"Invalid RMA.","Ongeldige RMA."
"Is Active","Is actief"
"Is editable for customers","Bewerkbaar is voor klanten"
"Is required for customers","Is vereist voor klanten"
"Is required for staff","Is vereist voor personeel"
"Is show in confirm shipping dialog","Is show in bevestigen dialoogvenster Verzendingen"
"Item Condition","Conditie"
"Items","Items"
"Items RMA Requested for","Items RMA Gevraagd voor"
"Items in this order","Items in deze volgorde"
"Last Activity","Laatste Activiteit"
"Last Name","Achternaam"
"Last Replier","Laatste afzender"
"Limit of attachments size","Limiet van bijlage omvang"
"List","Lijst"
"Manually","handmatig"
"Maximum size:","Maximale grootte:"
"Message for RMA history","Boodschap voor RMA geschiedenis"
"Message to Customer","Bericht aan de Klant"
"Message Type", "Bericht Type"
"Mirasvit RMA","Mirasvit RMA"
"Multi-line text","Multi-line text"
"My Returns","Mijn RMA aanvragen"
"New Condition","Nieuwe conditie"
"New Field","Nieuw veld"
"New RMA","Nieuwe RMA"
"New Reason","Nieuwe Reden"
"New Resolution","Nieuwe Voorkeur"
"New Return for Order #%s","Nieuwe Retour voor Order #% s"
"New Status","Nieuwe Status"
"Next","Volgende"
"No","Nee"
"Notifications","Meldingen"
"Number Format","Nummer Formaat"
"Number of returned items","Aantal geretourneerde artikelen"
"Number of returns","Aantal aangiften"
"Only for drop-down list. <br>Enter each value from the new line using forma","Alleen voor drop-down lijst. <br> Voer elke waarde van de nieuwe lijn met behulp forma"
"Options list","Optielijst"
"Order","Bestellen"
"Order #","Bestellen #"
"Order Information","Order informatie"
"Order Shipping Address","Bestel Verzendadres"
"Order doesn\'t meet RMA policy","Order voldoet niet aan algemene voorwaarden"
"Order meets RMA policy","Order voldoet aan RMA beleid"
"Ordered Qty","Bestelde Aantal"
"Original order: #%s","Oorspronkelijke volgorde: #% s"
"Owner","Eigenaar"
"Payment Method","Betalingsmiddel"
"Please, post not empty message","Gelieve een bericht in te voeren"
"Please, select RMA items which you would like to return.","Selecteer de retour producten"
"Please, select an order","Selecteer een order"
"Print RMA Packing Slip","Print RMA Bon "
"Print RMA Shipping Label","Print RMA PostNL verzendlabel"
"Product","Product"
"Product Name","Productnaam"
"Product SKU","Product SKU"
"Qty","Aantal"
"Qty to Return","Aantal om terug te keren"
"Quantity to return","Aantal Retour"
"RMA","RMA"
"RMA #","RMA #"
"RMA #%s","RMA #% s"
"RMA - Notification Email for Customer","RMA - Kennisgeving E-mail voor de Klant"
"RMA - Notification Email for RMA Owner","RMA - Kennisgeving e-mail voor RMA aanvrager"
"RMA History","RMA Geschiedenis"
"RMA Items","RMA producten"
"RMA Number","RMA-nummer"
"RMA Owner","RMA aanvrager"
"RMA Policy","RMA beleid"
"RMA Report","RMA Rapport"
"RMA by Brand","RMA per merk"
"RMA by Product","RMA per product"
"RMA was successfuly created","RMA is succesvol aangemaakt"
"Reason","Reden"
"Reason to Return","Reden voor retour"
"Reasons","Redenen"
"Refund Online","Crediteer Online"
"Refund Shipping Fee","Terugbetaling Verzendkosten"
"Reports","Rapporten"
"Replacement Order","Vervanging Order"
"Request Information","Informatie opvragen"
"Request New Return","Vraag Nieuwe Retour"
"Request RMA","Aanvragen RMA"
"Resolution","Voorkeur"
"Resolutions","Voorkeuren"
"Resolve RMA after obtaining status","Afronden RMA na het verkrijgen van de status"
"Return Address","Retouradres"
"Return to Stock","Keer terug naar voorraad"
"SKU","SKU"
"Save","Opslaan "
"Save And Continue Edit","Opslaan en doorgaan met bewerken"
"Select Order","Selecteer bestelling"
"Send Exchange Order Confirmation","Stuur Exchange Orderbevestiging"
"Set Ascending Direction","Hoog naar laag sorteren"
"Set Descending Direction","Laag naar hoog sorteren"
"Settings","Instellingen"
"Shipping Cost","Transportkosten"
"Shipping Method","Verzendmethode"
"Shipping confirmation text","Verzendbevestiging tekst"
"Shipping is confirmed. Thank you!","De Verzending is bevestigd. Dank je!"
"Show","Tonen"
"Show RMA section in Customer Account","Toon RMA sectie in Customer Account"
"Show all order items","Toon alle artikelen in bestelling"
"Sort Order","Sorteervolgorde"
"Sort by","Sorteer op"
"Sort order","Sorteervolgorde"
"Start Counter From","Start Counter Van"
"Status","Toestand"
"Statuses","Statussen"
"Stock Qty","Voorraad Aantal"
"Street Address","Adres"
"Submit","Bevestig "
"Submit Request","Aanvraag indienen"
"Telephone","Telefoon"
"Template of Notification Email for Customer","Sjabloon van de kennisgeving e-mail voor de klant"
"Template of Notification Email for RMA Owner","Sjabloon van de kennisgeving e-mail voor RMA eigenaar"
"Text","Tekst"
"There are no Returns","Er zijn geen Retouren"
"There are no items for this product that can be returned.","Er zijn geen items voor dit product dat kan worden geretourneerd."
"This is a non-returnable item per our return policy.","Dit is een niet-retourneerbaar stuk volgens ons terugkeer beleid."
"This was a gift, please do not notify purchaser","Dit was een geschenk, stel klant niet op de hoogte"
"Ticket was converted","Ticket werd omgezet"
"Title","Titel"
"Total Products Number","Totaal producten nummer"
"Total RMAs Number","Totaal RMA's nummer"
"Type","Type"
"Unassigned","Niet-toegewezen"
"Update","Bijwerken"
"Update And Continue Edit","Bijwerken En Doorgaan Bewerken"
"Upload Return Label","Upload Return Label"
"Validate Installation", "Valideren Installatie"
"View Return","Bekijk RMA"
"View as","Zien als"
"Visible for customers in statuses","Toegankelijk voor klanten in statussen"
"Workflow Rules", "Werkstroom Regels"
"XML","XML"
"Yes","Ja"
"You have no complete","Je hebt geen volledige"
"Your comment was successfuly added","Uw reactie is succesvol toegevoegd"
"Zip/Postcode","Zip / Postcode"
"leave blank to not send","laat leeg om niet te sturen"
"open","open"
"per page","per pagina"