" (This was a gift)", " (Det var en gåva)"
"(Bundled Product)", "(Kombinerad produkt)"
"(received a gift)", "(mottogs som gåva)"
"* Required Fields", "* Obligatoriska fält"
"--", "--"
"-- Please Select --", "-- Vänligen välj --"
"-- Select a Condition --", "-- Välj ett villkor --"
"-- Select a Reason --", "-- Select a Reason --"
"-- Select a Resolution --", "-- Välj en anledning --"
"-- Select an Order --", "-- Välj en beställning --"
"Condition", "Villkor"
"Quantity to return", "Antal att returnera"
"Reason", "Anledning"
"Resolution", "Lösning"
"Active", "Aktiv"
"Add Comment", "Lägg till kommentar"
"Add Message", "Skicka meddelande"
"Add New Condition", "Lägg till villkor"
"Add New Field", "Lägg till fält"
"Add New RMA", "Lägg till ny RMA"
"Add New Reason", "Lägg till ny anledning"
"Add New Resolution", "Lägg till ny lösning"
"Add New Status", "Lägg till ny status"
"Additional Information", "Ytterligare information"
"All", "Alla"
"Allow Everything", "Tillåt allt"
"Allow bundled items return one by one", "Tillåt buntade alternativ återgår en efter en"
"Allow both ways", "Tillåt båda sätt"
"Allow to request RMA after order completion, days", "Tillåt RMA-begäran upp till antal dagar efter avslutad beställning"
"Allow to request RMA if order has status", "Tillåt RMA-begäran om order har status"
"Allow upload only attachments with extensions", "Tillåt endast bilagor med följande filändelser"
"Allowed extensions:", "Tillåtna filändelser:"
"Are you sure?", "Är du säker?"
"Ask customer to confirm shipping", "Be kund bekräfta att de skickat varor i retur"
"Ask to agree with RMA policy text", "Be kund godkänna RMA policy"
"Attach files", "Bifoga filer"
"Automatically", "Automatiskt"
"Back", "Tillbaka"
"Back to My Returns", "Tillbaka till mina returärenden"
"Brand", "Märke"
"CMS block with RMA policy text", "Visa RMA policy i CMS block"
"CSV", "CSV"
"Change status", "Ändra status"
"Checkbox", "Kryssruta"
"City", "Stad"
"Code", "Kod"
"Code of "Brand" attribute", "Code of "Brand" attribute"
"Company", "Företag"
"Condition", "Villkor"
"Conditions", "Villkor"
"Confirm Shipping", "Bekräfta att paketet är skickat"
"Contact Information", "Kontakt information"
"Counter Increment Step", "Steg att öka räknare med"
"Counter Length", "Längd på räknare"
"Create Credit Memo", "Skapa kredit nota"
"Create New Condition", "Lägg till nytt villkor"
"Create New Field", "Lägg till nytt fält"
"Create New RMA", "Skapa ny RMA"
"Create New Reason", "Lägg till ny anledning"
"Create New Resolution", "Lägg till ny lösning"
"Create New Status", "Lägg till ny status"
"Create RMA", "Skapa RMA"
"Create RMA for this customer", "Skapa RMA för denna kund"
"Create RMA for this order", "Skapa RMA för denna order"
"Created Date", "Skapad"
"Created From Ticket", "Created From Ticket"
"Credit Memo #", "Kredit Nota #"
"Credit memo Adjustment Fee", "Credit memo Adjustment Fee"
"Custom Fields", "Anpassade fält"
"Customer", "Kund"
"Customer Account", "Kundens konto"
"Customer Information", "Information om kund"
"Customer Name", "Kundens namn"
"Date", "Datum"
"Date Requested", "Datum begäran utfärdades"
"Date: %s", "Datum: %s"
"Default owner for new RMA", "Förvald ansvarig för ny RMA"
"Default status for new RMA", "Förvald status för ny RMA"
"Delete", "Radera"
"Description", "Beskrivning"
"Dictionaries", "Ordlistor"
"Disabled", "Inaktiv"
"Don\'t return to Stock", "Lägg inte tillbaka i lager"
"Drop-down list", "Drop-down lista"
"Edit Condition '%s'", "Redigera villkor '%s'"
"Edit Field '%s'", "Reigera fält '%s'"
"Edit Reason '%s'", "Redigera anledning '%s'"
"Edit Resolution '%s'", "Redigera lösning '%s'"
"Edit Status '%s'", "Redigera status '%s'"
"Email", "Email"
"Email Address", "Emailadress"
"Email Notification Settings", "Inställningar för aviseringsmail"
"Email Notification for administrator", "Aviseringsmail till administrator"
"Email Notification for customer", "Aviseringsmail till kund"
"Email Sender", "Avsändare för aviseringsmail"
"Email or Last Name", "Email eller efternamn"
"Enable integration with Help Desk", "Aktivera integration med Help Desk"
"Enable option "This was a gift"", "Aktivera inställning "Detta är en gåva""
"Enabled", "Aktiverad"
"Enter valid message.", "Fyll i giltigt meddelande."
"Enter your contact information", "Fyll i din kontaktinformation"
"Exchange Order", "Bytes order"
"Exchange Order #", "Bytes order #"
"Exchange Order Information", "Infromation för bytesorder"
"External Link", "Extern länk"
"First Name", "Förnamn"
"FedEx is incorrectly set up. Check your key/password and account/meter credentials at Configuration -> Sales -> Shipping Methods -> FedEx.", "FedEx is incorrectly set up. Check your key/password and account/meter credentials at Configuration -> Sales -> Shipping Methods -> FedEx."
"General Information", "Allmän information"
"General Settings", "Allmäna inställningar"
"Grid", "Rutnät"
"I agree", "Jag bekräftar"
"ID", "ID"
"Internal Note", "Intern antecking"
"Internal Title", "Intern Titel"
"Invalid RMA.", "Ogiltig RMA."
"Is Active", "Är aktiv"
"Is editable for customers", "Kan redigeras av kund"
"Is required for customers", "Är obligatorisk för kund"
"Is required for staff", "Är obligatorisk för personal"
"Is show in confirm shipping dialog", "Visa i dialog för bekräftelse av retur"
"Item Condition", "Varans skick"
"Items", "Varor"
"Items RMA Requested for", "Varor som har begärts att returneras"
"Items in this order", "Varor i denna order"
"Last Activity", "Senaste aktivitet"
"Last Name", "Efternamn"
"Last Replier", "Sista person som svarat"
"Limit of attachments size", "Gräns ​​för storlek av bilagor"
"List", "Lista"
"Manually", "Manuellt"
"Maximum size:", "Maximal filstorlek:"
"Message for RMA history", "Meddelande för RMA historik"
"Message to Customer", "Meddelande till Kund"
"Mirasvit RMA", "Mirasvit RMA"
"Multi-line text", "Flerraders text"
"My Returns", "Mina returärenden"
"New Condition", "Nytt  villkor"
"New Field", "Nytt fält"
"New RMA", "Ny RMA"
"New Reason", "Ny anledning"
"New Resolution", "Ny lösning"
"New Return for Order #%s", "Ny retur för order #%s"
"New Status", "Ny status"
"Next", "Nästa"
"No", "Nej"
"Notifications", "Aviseringar"
"Number Format", "Nummer format"
"Number of returned items", "Antal returnerade varor"
"Number of returns", "Antal returärenden"
"Only for drop-down list. <br>Enter each value from the new line using forma", "Only for drop-down list. <br>Enter each value from the new line using forma"
"Options list", "Lista över alternativ"
"Order", "Order"
"Order #", "Order #"
"Order Information", "Order Information"
"Order Shipping Address", "Leveransadress för order"
"Order doesn\'t meet RMA policy", "Ordern uppfyller inte RMA policyn"
"Order meets RMA policy", "Ordern uppfyller RMA policyn"
"Ordered Qty", "Ordered Qty"
"Original order: #%s", "Original order: #%s"
"Owner", "Ansvarig"
"Payment Method", "Betalningsmetod"
"Please, post not empty message", "Vänligen skicka inte tomt meddelande"
"Please, select RMA items which you would like to return.", "Vänligen välj varor för RMA som ni vill returnera."
"Please, select an order", "Vänligen välj order"
"Price", "Pris"
"Print", "Skriv"
"Print RMA Packing Slip", "Skriv ut RMA packsedel"
"Print RMA Shipping Label", "Skriv ut RMA fraktsedel"
"Product", "Produkt"
"Product Name", "Produktnamn"
"Product SKU", "Artikel nr."
"Qty", "Antal"
"Qty to Return", "Antal att returnera"
"Quantity to return", "Antal att returnera"
"Quick Responses", "Snabba svar"
"RMA", "RMA"
"RMA #", "RMA #"
"RMA #%s", "RMA #%s"
"RMA - Notification Email for Customer", "RMA - Aviseringsmail till kund"
"RMA - Notification Email for RMA Owner", "RMA - Aviseringsmail Email för RMA ansvarig"
"RMA History", "RMA Histork"
"RMA Items", "RMA Varor"
"RMA Number", "RMA Nummer"
"RMA Owner", "RMA Ansvarig"
"RMA Policy", "RMA Policy"
"RMA Report", "RMA Rapport"
"RMA by Brand", "RMA enligt Märke"
"RMA by Product", "RMA enligt Produkt"
"RMA was successfuly created", "RMA skapades"
"Reason", "Anledning"
"Reason to Return", "Anledning för retur"
"Reasons", "Anledningar"
"Refund Online", "Återbetalning online"
"Refund Shipping Fee", "Återbetala frakt"
"Reports", "Rapporter"
"Request Information", "Begär information"
"Request New Return", "Begär ny retur"
"Request RMA", "Begär RMA"
"Reset", "Återställa"
"Resolution", "Lösning"
"Resolutions", "Lösningar"
"Resolve RMA after obtaining status", "Resolve RMA after obtaining status"
"Return Address", "Returadress"
"Return to Stock", "Lägg tillbaka i lager"
"SKU", "Art.nr"
"Save", "Spara"
"Save And Continue Edit", "Spara och fortsätt redigera"
"Select Order", "Välj order"
"Send Exchange Order Confirmation", "Skicka bekräftelse på utbytesorder"
"Send blind carbon copy (BCC) of all emails to", "Skicka hemlig kopia (BCC) av alla e-postmeddelanden till"
"Set Ascending Direction", "Ställ in ökande sorteringsordning"
"Set Descending Direction", "Ställ in fallande sorteringsordning"
"Settings", "Inställningar"
"Shipping Cost", "Fraktkostnad"
"Shipping Method", "Fraktsätt"
"Shipping confirmation text", "Shipping confirmation text"
"Shipping is confirmed. Thank you!", "Frakt är bekräftat. Tack!"
"Show", "Visa"
"Show buttons 'Print RMA Packing Slip' and 'Confirm Shipping' in the customer account", "Visa knappar 'Skriv ut RMA packsedel' och 'Bekräfta att paketet är skickat' i kundens konto"
"Show RMA section in Customer Account", "Visa RMA sektion i kundens konto"
"Show all order items", "Visa alla varor för order"
"Sort Order", "Sorteringsordning"
"Sort by", "Sortera efter"
"Sort order", "Sorteringsordning"
"Start Counter From", "Starta räknare från"
"Status", "Status"
"Statuses", "Statusar"
"Stores", "Förråder"
"Stock Qty", "Stock Qty"
"Street Address", "Gatuadress"
"Submit", "Skicka"
"Submit Request", "Skicka begäran"
"Telephone", "Mobil"
"Template of Notification Email for Customer", "Mall för aviseringsmail till kund"
"Template of Notification Email for RMA Owner", "Mall för aviseringsmail till RMA ansvarig"
"Template of Rule Notification", "Mall Regel Anmälan"
"Template", "Mall"
"Text", "Text"
"There are no Returns", "Finns inga returärenden"
"There are no items for this product that can be returned.", "Det finns inga varor som kan returneras för denna produkt."
"This is a non-returnable item per our return policy.", "Denna vara kan inte returneras enligt våran returpolicy."
"This was a gift, please do not notify purchaser", "Detta var en gåva, vänligen meddela inte köparen"
"Ticket was converted", "Ticket was converted"
"Title", "Titel"
"Total Products Number", "Total Products Number"
"Total RMAs Number", "Total RMAs Number"
"Type", "Typ"
"Unassigned", "Ej tilldelad"
"Update", "Uppdatera"
"Update And Continue Edit", "Uppdatera Och Fortsätt Redigera"
"Upload Return Label", "Ladda upp returetikett"
"View Return", "Visa retur"
"View as", "Visa som"
"Visible for customers in statuses", "Synlig för kund när RMA har följande status"
"XML", "XML"
"Yes", "Ja"
"You have no complete", "You have no complete"
"Your comment was successfuly added", "Din kommentar lades till"
"Zip/Postcode", "Postnummer"
"leave blank to not send", "lämna tom för att inte skicka"
"open", "öppna"
"per page", "per sida"
"Validate Installation", "Validera installation"
"Workflow Rules", "Regler för arbetsflöde"