<?xml version="1.0"?>
<config>
    <modules>
        <Affiliate4You_SaleTracking>
            <version>0.1.0</version>
        </Affiliate4You_SaleTracking>
    </modules>
    
    <frontend>
        <layout>
            <updates>
                <affiliate4you>
                    <file>affiliate4you/saletracking.xml</file>
                </affiliate4you>
            </updates>
        </layout>
    </frontend>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <affiliate4you>
                                            <title>Affiliate4You Settings</title>
                                        </affiliate4you>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    
    <global>
        <blocks>
            <affiliate4you>
                <class>Affiliate4You_SaleTracking_Block</class>
            </affiliate4you>
        </blocks>
        <helpers>
            <affiliate4you>
                <class>Affiliate4You_SaleTracking_Helper</class>
            </affiliate4you>
        </helpers>
    </global>
    
    <default>
        <affiliate4you>
            <campagne>
                <campagnenummer>776</campagnenummer>
            </campagne>
        </affiliate4you>
    </default>
</config>