<?xml version="1.0"?>
<config>
    <modules>
        <Biztech_Translator>
            <version>1.2.1</version>
        </Biztech_Translator>
    </modules>
    <frontend>
        <routers>
            <translator>
                <use>standard</use>
                <args>
                    <module>Biztech_Translator</module>
                    <frontName>translator</frontName>
                </args>
            </translator>
        </routers>
        <layout>
            <updates>
                <translator>
                    <file>translator.xml</file>
                </translator>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Biztech_Translator after="Mage_Adminhtml">Biztech_Translator_Adminhtml</Biztech_Translator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <translator module="translator">
                <title>Biztech Translator</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="translator">
                        <title>Manage Translations</title>
                        <sort_order>10</sort_order>
                        <!-- <action>translator/adminhtml_translator</action> -->
                        <action>adminhtml/translator/index</action>
                    </items>
                </children>
                <children>
                    <cron module="translator">
                        <title>Manage Cron Translations</title>
                        <sort_order>20</sort_order>
                        <!-- <action>translator/adminhtml_translator</action> -->
                        <action>adminhtml/translator/cron</action>
                    </cron>
                </children>
            </translator>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <translator>
                            <title>Translator Module</title>
                            <children>
                                <items>
                                    <title>Manage Translations</title>
                                </items>
                            </children>
                        </translator>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <translator>
                                            <title>Translator</title>
                                        </translator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <translator>
                    <file>translator.xml</file>
                </translator>
            </updates>
        </layout>
        <translate>
            <modules>
                <Biztech_Translator>
                    <files>
                        <default>Biztech_Translator.csv</default>
                    </files>
                </Biztech_Translator>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_translator>
                <observers>
                    <translator>
                        <type>model</type>
                        <class>translator/observer</class>
                        <method>checkKey</method>
                    </translator>
                </observers>
            </admin_system_config_changed_section_translator>
            <controller_action_predispatch>
                <observers>
                    <translator>
                        <class>translator/Observer</class>
                        <method>checkErrorMessage</method>
                    </translator>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <global>
        <models>
            <translator>
                <class>Biztech_Translator_Model</class>
                <resourceModel>translator_mysql4</resourceModel>
            </translator>

            <translator_mysql4>
                <class>Biztech_Translator_Model_Mysql4</class>
                <entities>
                    <translator>
                        <table>translator</table>
                    </translator>
                    <cron>
                        <table>translator_cron</table>
                    </cron>
                    <logcron>
                        <table>translator_logcron</table>
                    </logcron>
                </entities>
            </translator_mysql4>
        </models>
        <resources>
            <translator_setup>
                <setup>
                    <module>Biztech_Translator</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </translator_setup>
            <translator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </translator_write>
            <translator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </translator_read>
        </resources>
        <blocks>
            <translator>
                <class>Biztech_Translator_Block</class>
            </translator>
            <adminhtml>
                <rewrite>
                    <cms_page_grid>Biztech_Translator_Block_Adminhtml_Cms_Page_Grid</cms_page_grid>
                    <cms_block_grid>Biztech_Translator_Block_Adminhtml_Cms_Block_Grid</cms_block_grid>
                    <catalog_product_edit>Biztech_Translator_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                    <cms_block_edit>Biztech_Translator_Block_Adminhtml_Cms_Block_Edit</cms_block_edit>
                    <review_edit>Biztech_Translator_Block_Adminhtml_Review_Edit</review_edit>
                    <review_add>Biztech_Translator_Block_Adminhtml_Review_Add</review_add>
                    <cms_page_edit>Biztech_Translator_Block_Adminhtml_Cms_Page_Edit</cms_page_edit>
                    <catalog_category_edit_form>Biztech_Translator_Block_Adminhtml_Catalog_Category_Edit_Form</catalog_category_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <translator>
                <class>Biztech_Translator_Helper</class>
            </translator>
        </helpers>
        <events>
            <!-- Add Massaction grid to all applicable admin pages -->
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <translator_grid_add>
                        <type>singleton</type>
                        <class>translator/observer</class>
                        <method>translateMassProducts</method>
                    </translator_grid_add>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <!-- Add Massaction grid to all applicable admin pages -->            
        </events>
        <default>
            <translator>
                <translator_general>
                    <enabled>0</enabled> 
                    <on_which_page>1</on_which_page>   
                    <product_batch_size>20</product_batch_size>
                    <google_daily_cut_before_limit>20</google_daily_cut_before_limit>
                    <google_daily_limit>5000</google_daily_limit>
                </translator_general>
            </translator>
        </default>
    </global>
    <crontab>
        <jobs>
            <!-- <bizcrontranslation>
                <schedule>
                    <cron_expr></cron_expr>
                </schedule>
                <run>
                    <model>translator/observer::translateCronMassProducts</model>
                </run>
            </bizcrontranslation> -->
            <bizgridcrontranslation>
                <run>
                    <model>translator/observer::translateGridCronMassProducts</model>
                </run>
            </bizgridcrontranslation>
            <bizcheckcron>
                <schedule>
                    <!-- <cron_expr>0/15 * * * *</cron_expr> -->
                    <!-- <cron_expr>* * * * *</cron_expr> -->
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>translator/observer::checkBizTranslateCron</model>
                </run>
            </bizcheckcron>
        </jobs>
    </crontab>
</config>