*~
*.lock
*.DS_Store
*.swp
*.out
var/*
!var/.htaccess
media/*
!media/.htaccess
.idea/
maintenance.flag
app/etc/local.xml
errors/local.xml
downloader/*.cfg
downloader/.cache/
ioncube/
stats/
sitemap.xml
retour-nt.pdf
retour-jma.pdf
retour-jma-de.pdf
/node_modules/
.well-known/*

#ignore this config. We use a different live and dev version. Use symlink to point to the correct version
app/etc/modules/ArtsOnIT_Autologin.xml


