<?xml version="1.0"?>
<config>
    <modules>
       <Total_BuckarooGiftcard>
          <version>0.3.20</version>
       </Total_BuckarooGiftcard>
    </modules>

    <global>
    <blocks>
        <buckaroogiftcard>
            <class>Total_BuckarooGiftcard_Block</class>
        </buckaroogiftcard>
    </blocks>

        <models>
            <buckaroogiftcard>
                <class>Total_BuckarooGiftcard_Model</class>
            </buckaroogiftcard>
        </models>
	    <helpers>
            <buckaroogiftcard>
                <class>Total_BuckarooGiftcard_Helper</class>
			</buckaroogiftcard>  
        </helpers>
        <resources>
            <buckaroogiftcard_setup>
                <setup>
                    <module>Total_BuckarooGiftcard</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </buckaroogiftcard_setup>
            <buckaroogiftcard_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </buckaroogiftcard_write>
            <buckaroogiftcard_read>
               <connection>
                <use>core_read</use>
              </connection>
            </buckaroogiftcard_read>
        </resources>

    </global>

    <frontend>
	    <routers>
	        <buckaroogiftcard>
	            <use>standard</use>
	            <args>
	                <module>Total_BuckarooGiftcard</module>
	                <frontName>buckaroogiftcard</frontName>
	            </args>
	        </buckaroogiftcard>
	    </routers>
	    <translate>
            <modules>
                <Total_BuckarooGiftcard>
                    <files>
                        <default>Total_BuckarooGiftcard.csv</default>
                    </files>
                </Total_BuckarooGiftcard>
            </modules>
        </translate>
    </frontend>

    <default>
        <payment>
            <buckaroogiftcard>
                <active>0</active>
                <model>buckaroogiftcard/paymentMethod</model>
                <title>Buckaroo Giftcard</title>
                <order_status>pending</order_status>				
                <allowspecific>0</allowspecific>
                <gateway>https://payment.buckaroo.nl/gateway/html/giftcard_payment.aspx</gateway>
            </buckaroogiftcard>
         </payment>
    </default>
</config>