<?xml version="1.0" encoding="UTF-8"?>
<modules>
	<Dealer4dealer_Syncinfo>
		<version>0.1</version>
	</Dealer4dealer_Syncinfo>
	<global>
		<models>
            <syncinfo>
                <class>Dealer4dealer_Syncinfo_Model</class>
            </syncinfo>
        </models>
        <blocks>
            <syncinfo>
                <class>Dealer4dealer_Syncinfo_Block</class>
            </syncinfo>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Dealer4dealer_Syncinfo_Block_Sales_Order_Column</sales_order_grid>
                    <sales_creditmemo_grid>Dealer4dealer_Syncinfo_Block_Sales_Creditmemo_Column</sales_creditmemo_grid>
                    <catalog_product_grid>Dealer4dealer_Syncinfo_Block_Catalog_Product_Column</catalog_product_grid>
                    <customer_grid>Dealer4dealer_Syncinfo_Block_Customer_Column</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</modules>