<?xml version="1.0"?>
<config>
    <modules>
        <Twm_ExtendAwStoreCredit>
            <version>0.1.0</version>
        </Twm_ExtendAwStoreCredit>
    </modules>
    <global>
        <helpers>
            <aw_storecredit>
                <rewrite>
                    <data>Twm_ExtendAwStoreCredit_Helper_Storecredit_Data</data>
                </rewrite>
            </aw_storecredit>
        </helpers>
    </global>
</config>