<?xml version="1.0"?>
<config>
    <modules>
        <Twm_ExtendAwStoreCredit>
            <version>0.1.0</version>
        </Twm_ExtendAwStoreCredit>
    </modules>
    <global>
        <helpers>
            <aw_storecredit>
                <rewrite>
                    <data>Twm_ExtendAwStoreCredit_Helper_Storecredit_Data</data>
                </rewrite>
            </aw_storecredit>
        </helpers>
        <blocks>
            <aw_storecredit>
                <rewrite>
                    <adminhtml_customer_edit_tabs_storecredit_balance>Twm_ExtendAwStoreCredit_Block_Storecredit_Adminhtml_Customer_Edit_Tabs_Storecredit_Balance</adminhtml_customer_edit_tabs_storecredit_balance>
                </rewrite>
            </aw_storecredit>
        </blocks>
        <models>
            <aw_storecredit>
                <rewrite>
                    <observer_storecredit>Twm_ExtendAwStoreCredit_Model_Storecredit_Observer_Storecredit</observer_storecredit>
                </rewrite>
            </aw_storecredit>
        </models>
    </global>
</config>