<?xml version="1.0"?>
<config>
    <modules>
       <Total_BuckarooPaypal>
          <version>0.3.20</version>
       </Total_BuckarooPaypal>
    </modules>

    <global>
    <blocks>
        <buckaroopaypal>
            <class>Total_BuckarooPaypal_Block</class>
        </buckaroopaypal>
    </blocks>

        <models>
            <buckaroopaypal>
                <class>Total_BuckarooPaypal_Model</class>
            </buckaroopaypal>
        </models>
	    <helpers>
            <buckaroopaypal>
                <class>Total_BuckarooPaypal_Helper</class>
			</buckaroopaypal>  
        </helpers>
        <resources>
            <buckaroopaypal_setup>
                <setup>
                    <module>Total_BuckarooPaypal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </buckaroopaypal_setup>
            <buckaroopaypal_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </buckaroopaypal_write>
            <buckaroopaypal_read>
               <connection>
                <use>core_read</use>
              </connection>
            </buckaroopaypal_read>
        </resources>

    </global>

    <frontend>
	    <routers>
	        <buckaroopaypal>
	            <use>standard</use>
	            <args>
	                <module>Total_BuckarooPaypal</module>
	                <frontName>buckaroopaypal</frontName>
	            </args>
	        </buckaroopaypal>
	    </routers>
	    <translate>
            <modules>
                <Total_BuckarooPaypal>
                    <files>
                        <default>Total_BuckarooPaypal.csv</default>
                    </files>
                </Total_BuckarooPaypal>
            </modules>
        </translate>
    </frontend>
    

    <default>
        <payment>
            <buckaroopaypal>
                <active>0</active>
                <model>buckaroopaypal/paymentMethod</model>
                <title>Buckaroo PayPal</title>
                <order_status>pending</order_status>				
                <allowspecific>0</allowspecific>
                <gateway>https://payment.buckaroo.nl/gateway/paypal_payment.asp</gateway>
            </buckaroopaypal>
         </payment>
    </default>
</config>