<?xml version="1.0"?>
<config>
    <modules>
        <WHAP_Transsmart>
            <version>1.0.0</version>
        </WHAP_Transsmart>
    </modules>
    <global>
        <helpers>
            <transsmart_shipping>
                <rewrite>
                    <pickupaddress>WHAP_Transsmart_Helper_Pickupaddress</pickupaddress>
                </rewrite>
            </transsmart_shipping>
        </helpers>
    </global>
</config>