<?xml version="1.0"?>
<config>
    <modules>
        <WSC_MageJam>
            <version>1.2.5.0</version>
        </WSC_MageJam>
    </modules>
    <global>
        <blocks>
            <magejam>
                <class>WSC_MageJam_Block</class>
            </magejam>
        </blocks>
        <models>
            <magejam>
                <class>WSC_MageJam_Model</class>
            </magejam>
        </models>
        <helpers>
            <magejam>
                <class>WSC_MageJam_Helper</class>
            </magejam>
        </helpers>
        <resources>
            <magejam_setup>
                <setup>
                    <module>WSC_MageJam</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </magejam_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <magejam>
                <use>standard</use>
                <args>
                    <module>WSC_MageJam</module>
                    <frontName>magejam</frontName>
                </args>
            </magejam>
        </routers>
        <layout>
            <updates>
                <wsc_magejam_payment>
                    <file>magejam/payment.xml</file>
                </wsc_magejam_payment>
				<wsc_magejam_onepage>
                    <file>magejam/onepage.xml</file>
                </wsc_magejam_onepage>
				<wsc_magejam_cart>
                    <file>magejam/cart.xml</file>
                </wsc_magejam_cart>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <wsc_magejam>
                        <type>singleton</type>
                        <class>magejam/observer</class>
                        <method>checkoutOnepageControllerSuccessAction</method>
                    </wsc_magejam>
                </observers>
            </checkout_onepage_controller_success_action>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <wsc_magejam>
                        <type>singleton</type>
                        <class>magejam/observer</class>
                        <method>controllerActionPredispatchCheckoutCartIndex</method>
                    </wsc_magejam>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_paypal_standard_cancel>
                <observers>
                    <wsc_magejam>
                        <type>singleton</type>
                        <class>magejam/observer</class>
                        <method>controllerActionPredispatchPaypalStandardCancel</method>
                    </wsc_magejam>
                </observers>
            </controller_action_predispatch_paypal_standard_cancel>
        </events>
    </frontend>
    <default>
        <magejam>
            <settings>
                <auth>0</auth>
                <use_api_login>1</use_api_login>
            </settings>
        </magejam>
    </default>
</config>