<?xml version="1.0"?>

<config>
    <sections>
        <magejam translate="label" module="magejam">
            <label>Magejam</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>102</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version translate="label">
                            <label>Version</label>
                            <comment>Check installation guide for configuration details http://www.jmango360.com/magejam/MageJam+Plugin+Installation+Guide.pdf</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>magejam/system_config_form_version</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                        <auth translate="label">
                            <label>Use authorization on payment page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auth>
                        <use_api_login translate="label">
                            <label>Use api user credentials</label>
                            <comment>If yes you can use any api user, it doesn't check role permissions</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><auth>1</auth></depends>
                        </use_api_login>
                        <custom_login translate="label">
                            <label>Custom login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <depends><use_api_login>0</use_api_login><auth>1</auth></depends>
                        </custom_login>
                        <custom_password translate="label">
                            <label>Custom password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-password</validate>
                            <depends>
                                <use_api_login>0</use_api_login>
                                <auth>1</auth>
                            </depends>
                        </custom_password>
                    </fields>
                </settings>
                <testing translate="label">
                    <label>Testing of MageJam plugin</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <store translate="label">
                            <label>Select test store</label>
                            <comment>Please select the store that will be used for mobile app when integrate with JMango360</comment>	
                            <frontend_type>select</frontend_type>
                            <source_model>magejam/system_config_source_dropdown_store</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </store>
                        <customer translate="label">
                            <label>Select test customer</label>
                            <comment>Please select a customer to test shopping cart checkout integration that JMango360 mobile app will use.</comment>	
                            <frontend_type>select</frontend_type>
                            <source_model>magejam/system_config_source_dropdown_customer</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer>
                        <check translate="label">
                            <label>Run shopping cart test</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>magejam/system_config_form_button</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </check>
                    </fields>
                </testing>
            </groups>
        </magejam>
    </sections>
</config>
