<?xml version="1.0"?>
<config>
    <modules>
       <Total_BuckarooCashticket>
          <version>0.3.20</version>
       </Total_BuckarooCashticket>
    </modules>

    <global>
    <blocks>
        <buckaroocashticket>
            <class>Total_BuckarooCashticket_Block</class>
        </buckaroocashticket>
    </blocks>

        <models>
            <buckaroocashticket>
                <class>Total_BuckarooCashticket_Model</class>
            </buckaroocashticket>
        </models>
	    <helpers>
            <buckaroocashticket>
                <class>Total_BuckarooCashticket_Helper</class>
			</buckaroocashticket>  
        </helpers>
        <resources>
            <buckaroocashticket_setup>
                <setup>
                    <module>Total_BuckarooCashticket</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </buckaroocashticket_setup>
            <buckaroocashticket_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </buckaroocashticket_write>
            <buckaroocashticket_read>
               <connection>
                <use>core_read</use>
              </connection>
            </buckaroocashticket_read>
        </resources>

    </global>

    <frontend>
	    <routers>
	        <buckaroocashticket>
	            <use>standard</use>
	            <args>
	                <module>Total_BuckarooCashticket</module>
	                <frontName>buckaroocashticket</frontName>
	            </args>
	        </buckaroocashticket>
	    </routers>
	    <translate>
            <modules>
                <Total_BuckarooCashticket>
                    <files>
                        <default>Total_BuckarooCashticket.csv</default>
                    </files>
                </Total_BuckarooCashticket>
            </modules>
        </translate>
    </frontend>
<!-- <frontend>
        <translate>
            <modules>
                <Total_BuckarooCashticket>
                    <files>
                        <default>Total_BuckarooCashticket.csv</default>
                    </files>
                </Total_BuckarooCashticket>
            </modules>
        </translate>
    </frontend> -->
    

    <default>
        <payment>
            <buckaroocashticket>
                <active>0</active>
                <model>buckaroocashticket/paymentMethod</model>
                <title>Buckaroo CashTicket</title>
                <order_status>pending</order_status>				
                <!-- <payment_action>authorize</payment_action> -->
                <allowspecific>0</allowspecific>
                <gateway>https://payment.buckaroo.nl/gateway/cashticket_payment.asp</gateway>
            </buckaroocashticket>
         </payment>
    </default>
</config>