/*= Text colors =*/
p.title,
aside > .block-white .title,
aside > .block-white .sub-title,
.price-box,
.product-name a,
p.product-image .glyphicon {
	color: #4c4c4c;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #8b8b8b;
}
aside .block .list-group strong,
aside .block a:hover,
aside .block a:focus {
	color: #aaa;
}
a:hover,
a:focus,
dt {
	color: #000;
}
footer a:hover,
footer a:focus {
	color: #7f7f7f;
}

/*= Background colors =*/
h1,
h2,
legend,
.legend,
aside > .block,
#discount-coupon-form,
.navbar-default,
.navbar-default .navbar-nav > li > .dropdown-menu,
footer {
	background-color: #4c4c4c;
}
aside > .block-white {
	background: none;
}
.panel-default > .panel-heading,
fieldset,
.fieldset,
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #eee;
}
.onestepcheckout-summary,
.highlight {
	background: #ffe6d8;
}
.onestepcheckout-summary .table-striped > tbody > tr:nth-child(odd) > td,
.onestepcheckout-summary .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #fff5ef;
}

/*= Border color =*/
.panel,
.panel-default > .panel-heading,
fieldset,
.fieldset,
.form-control,
.input-text, input[type=text],
a.thumbnail.active,
a.thumbnail:hover,
a.thumbnail:focus,
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
	border-color: #aaa;
}

/*= Buttons =*/
#product_addtocart_form .btn-cart {
	background-color: #ff6a17;
	padding-left: 20px;
	padding-right: 20px;
}
#product_addtocart_form .btn-cart:before {
	display: none;
}

.checkout-cart-index .btn-checkout,
.btn#onestepcheckout-place-order {
	background: #ff6a17;
	border-color: #d65108;
}

/*= Background images =*/
header .top-links a span {
	background-image: url('../images/shoppingbag.png');
}
.toolbar,
.pager {
	background: url('../images/border-horizontal.png') repeat-x top left, url('../images/border-horizontal.png') repeat-x bottom left;
}
#block-related,
#recently-viewed-items li {
	background-image: url('../images/border-horizontal.png');
}
aside #block-cart > img {
	display: none;
}

/*= Margins & paddings =*/
header .top-links {
	margin-top: 90px;
}