/*= Text colors =*/
#main-navbar .nav > li > a,
#main-navbar .nav > li > .dropdown-menu li.active a,
#main-navbar .nav > li > .dropdown-menu li a:hover,
#main-navbar .nav > li > .dropdown-menu li a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li.dropdown-link > a,
.catalog-product-view h1.product-name,
.navbar-default .navbar-nav > li > .dropdown-menu a,
p.title,
aside > .block-white .title,
aside > .block-white .sub-title,
.price-box .third-price span.price-label,
.product-name a,
p.product-image .glyphicon,
#block-related .product-name {
	color: #4c4c4c;
}
#main-navbar .nav > li > .dropdown-menu li a,
.navbar-default .navbar-nav > li > a {
	color: #8b8b8b;
}
aside .block .list-group strong,
aside .block a:hover,
aside .block a:focus {
	color: #aaa;
}
a:hover,
a:focus,
dt,
.review-rating {
	color: #000;
}
footer a:hover,
footer a:focus {
	color: #7f7f7f;
}
h1.product-name {
	color: #4c4c4c;
}

/*= Background colors =*/
h1,
h2,
legend,
.legend,
aside > .block,
#discount-coupon-form,
footer {
	background-color: #4c4c4c;
}
aside > .block-white {
	background: none;
}
.panel-default > .panel-heading,
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #ddd;
}
.nav-tabs > li > a {
	background-color: #ddd;
}
.onestepcheckout-summary,
.highlight {
	background: #ffe6d8;
}
.onestepcheckout-summary .table-striped > tbody > tr:nth-child(odd) > td,
.onestepcheckout-summary .table-striped > tbody > tr:nth-child(odd) > th, {
	background-color: #fff5ef;
}

/*= Border color =*/
.panel,
.panel-default > .panel-heading,
fieldset,
.fieldset,
.form-control,
.input-text, input[type=text],
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td,
.nav-tabs,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover,
.tab-content,
.nav-tabs > li > a {
	border-color: #aaa;
}
a.thumbnail.active,
a.thumbnail:hover,
a.thumbnail:focus {
	border-color: #999;
}
#main-navbar .nav > li a,
.navbar-default .navbar-nav-categories > li > a {
	border-left-color: #b5b5b5;
	border-right-color: #404040;
}
.navbar-default .navbar-nav > li > a .caret {
	border-top-color: #4c4c4c;
	border-bottom-color: #4c4c4c;
}

/*= Buttons =*/
#product_addtocart_form .btn-cart {
	background-color: #ff6a17;
	padding-left: 20px;
	padding-right: 20px;
}
#product_addtocart_form .btn-cart:before {
	display: none;
}

.checkout-cart-index .btn-checkout,
.btn#onestepcheckout-place-order {
	background: #ff6a17;
	border-color: #d65108;
}

/*= Background images =*/
header .top-links a span {
	background-image: url('../images/shoppingbag.png');
}
.toolbar,
.pager {
	background: url('../images/border-horizontal.png') repeat-x top left, url('../images/border-horizontal.png') repeat-x bottom left;
}
#block-related,
#recently-viewed-items li {
	background-image: url('../images/border-horizontal.png');
}
aside #block-cart > img {
	display: none;
}