<?xml version="1.0"?>
<config>
    <modules>
       <Total_BuckarooCollect>
          <version>0.3.20</version>
       </Total_BuckarooCollect>
    </modules>

    <global>
    <blocks>
        <buckaroocollect>
            <class>Total_BuckarooCollect_Block</class>
        </buckaroocollect>
    </blocks>

        <models>
            <buckaroocollect>
                <class>Total_BuckarooCollect_Model</class>
            </buckaroocollect>
        </models>
	    <helpers>
            <buckaroocollect>
                <class>Total_BuckarooCollect_Helper</class>
			</buckaroocollect>  
        </helpers>
        <resources>
            <buckaroocollect_setup>
                <setup>
                    <module>Total_BuckarooCollect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </buckaroocollect_setup>
            <buckaroocollect_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </buckaroocollect_write>
            <buckaroocollect_read>
               <connection>
                <use>core_read</use>
              </connection>
            </buckaroocollect_read>
        </resources>
		<template>
		    <email>                                                                   
		      <buckaroocollect_600_template translate="label" module="buckaroocollect">
		        <label>Buckaroo Collect code 600 (to the customer)</label>
		        <file>buckaroocollect/buckaroocollect_600.html</file>
		        <type>html</type>
		      </buckaroocollect_600_template>
		      <buckaroocollect_602_603_template translate="label" module="buckaroocollect">
                <label>Buckaroo Collect code 602/603 (to the shop owner)</label>
                <file>buckaroocollect/buckaroocollect_602_603.html</file>
                <type>html</type>
              </buckaroocollect_602_603_template>
		    </email>
		</template>
    </global>

    <frontend>
	    <routers>
	        <buckaroocollect>
	            <use>standard</use>
	            <args>
	                <module>Total_BuckarooCollect</module>
	                <frontName>buckaroocollect</frontName>
	            </args>
	        </buckaroocollect>
	    </routers>
	    <translate>
            <modules>
                <Total_BuckarooCollect>
                    <files>
                        <default>Total_BuckarooCollect.csv</default>
                    </files>
                </Total_BuckarooCollect>
            </modules>
        </translate>
    </frontend>

    <default>
        <payment>
            <buckaroocollect>
                <active>0</active>
                <model>buckaroocollect/paymentMethod</model>
                <title>Buckaroo Collect</title>
                <order_status>pending</order_status>				
                <allowspecific>0</allowspecific>
                <gateway>https://payment.buckaroo.nl/gateway/machtiging.asp</gateway>
                <send_mails>0</send_mails>
            </buckaroocollect>
         </payment>
    </default>
</config>