<?xml version="1.0"?>
<config>
    <modules>
        <AW_Previousnext>
            <version>1.3.0</version><platform>ce</platform>
        </AW_Previousnext>
    </modules>
    <frontend>
        <layout>
            <updates>
                <previousnext module="AW_Previousnext">
                    <file>previousnext.xml</file>
                </previousnext>
            </updates>
        </layout>
        <routers>
            <previousnext>
                <use>standard</use>
                <args>
                    <module>AW_Previousnext</module>
                    <frontName>previousnext</frontName>
                </args>
            </previousnext>
        </routers>
        <translate>
            <modules>
                <AW_Pmatch>
                    <files>
                        <default>AW_Previousnext.csv</default>
                    </files>
                </AW_Pmatch>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <previousnext>
                                            <title>aheadWorks - Previous Next Settings Section</title>
                                        </previousnext>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <AW_Pmatch>
                    <files>
                        <default>AW_Previousnext.csv</default>
                    </files>
                </AW_Pmatch>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <previousnext>
                <class>AW_Previousnext_Block</class>
            </previousnext>
        </blocks>
        <helpers>
            <previousnext>
                <class>AW_Previousnext_Helper</class>
            </previousnext>
        </helpers>
        <models>
            <previousnext>
                <class>AW_Previousnext_Model</class>                
            </previousnext>
        </models>
        <events>
            <catalog_block_product_list_collection>
                <observers>
                    <provide_collection>
                        <type>singleton</type>
                        <class>previousnext/observer</class>
                        <method>memorizeProductCollection</method>
                    </provide_collection>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </global>
    <default>
        <previousnext>
            <general>
                <displaycontrols>1</displaycontrols>
                <loopproducts>1</loopproducts>
                <symbolsnumber>40</symbolsnumber>
                <ending>..</ending>
                <display_product_thumbnails>0</display_product_thumbnails>
                <product_thumbnail_width>100</product_thumbnail_width>
                <product_thumbnail_height>100</product_thumbnail_height>
            </general>
            <previouscontrol>
                <linktext><![CDATA[<<<  <b>Previous</b> (#PRODUCT#)]]>
                </linktext>
            </previouscontrol>
            <nextcontrol>
                <linktext><![CDATA[<b>Next</b> (#PRODUCT#) >>>]]>
                </linktext>
            </nextcontrol>
            <upcontrol>
                <upcontrol>1</upcontrol>
                <linktext><![CDATA[<b>Back</b> (#CATEGORY#)]]>
                </linktext>
                <display_category_thumbnails>0</display_category_thumbnails>
            </upcontrol>
        </previousnext>
    </default>
</config>
