<?xml version="1.0"?>
<config>
    <modules>
        <Icreators_Emalo>
            <version>0.1.0</version>
        </Icreators_Emalo>
    </modules>
    <frontend>
        <routers>
            <Emalo>
                <use>standard</use>
                <args>
                    <module>Icreators_Emalo</module>
                    <frontName>Emalo</frontName>
                </args>
            </Emalo>
        </routers>
        <layout>
            <updates>
                <Emalo>
                    <file>Emalo.xml</file>
                </Emalo>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <emalo_options>
                                            <title>Store Emalo Module Section</title>
                                        </emalo_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <Emalo>
                <class>Icreators_Emalo_Model</class>
                <resourceModel>Emalo_mysql4</resourceModel>
            </Emalo>
            <Emalo_mysql4>
                <class>Icreators_Emalo_Model_Mysql4</class>
                <entities>
                    <Emalo>
                        <table>Emalo</table>
                    </Emalo>
                </entities>
            </Emalo_mysql4>
        </models>
        <resources>
            <Emalo_setup>
                <setup>
                    <module>Icreators_Emalo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Emalo_setup>
            <Emalo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Emalo_write>
            <Emalo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Emalo_read>
        </resources>
        <helpers>
            <emalo>
                <class>Icreators_Emalo_Helper</class>
            </emalo>
        </helpers>
        <blocks>
            <Emalo>
                <class>Icreators_Emalo_Block</class>
            </Emalo>
        </blocks>
        <events>
            <admin_system_config_changed_section_emalo_options>
                <observers>
                    <emalo_license_validation>
                        <type>singleton</type>
                        <class>Icreators_Emalo_Model_Observer</class>
                        <method>validate_admin_license</method>
                    </emalo_license_validation>
                </observers>
            </admin_system_config_changed_section_emalo_options>

            <!--<checkout_onepage_controller_success_action>-->
                <!--<observers>-->
                    <!--<Icreators_order_success>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Icreators_Emalo_Model_Observer</class>-->
                        <!--<method>exportOrder</method>-->
                    <!--</Icreators_order_success>-->
                <!--</observers>-->
            <!--</checkout_onepage_controller_success_action>-->
            <sales_order_invoice_pay>
                <observers>
                    <Icreators_order_pay>
                        <type>singleton</type>
                        <class>Icreators_Emalo_Model_Observer</class>
                        <method>payOrder</method>
                    </Icreators_order_pay>
                </observers>
            </sales_order_invoice_pay>
        </events>

    </global>
</config>