<?xml version="1.0"?>
<config>
    <modules>
        <Twm_CustomRewrite>
            <version>0.1.0</version>
        </Twm_CustomRewrite>
    </modules>
    <global>
        <models>
            <twm_customrewrite>
                <class>Twm_CustomRewrite_Model</class>
                <resourceModel>twm_customrewrite_resource</resourceModel>
            </twm_customrewrite>
            <twm_customrewrite_resource>
                <class>Twm_CustomRewrite_Model_Resource</class>
            </twm_customrewrite_resource>
            <ec>
                <rewrite>
                    <observer>Twm_CustomRewrite_Model_Ec_Observer</observer>
                </rewrite>
            </ec>
        </models>
        <blocks>
            <twm_customrewrite>
                <class>Twm_CustomRewrite_Block</class>
            </twm_customrewrite>
        </blocks>
        <helpers>
            <twm_customrewrite>
                <class>Twm_CustomRewrite_Helper</class>
            </twm_customrewrite>
        </helpers>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <twm_customrewrite before="Mage_Customer">Twm_CustomRewrite</twm_customrewrite>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>
