<?xml version="1.0"?>
<config>
    <modules>
        <Twm_Countdown>
            <version>0.1.0</version>
        </Twm_Countdown>
    </modules>
    <global>
        <helpers>
            <twm_countdown>
                <class>Twm_Countdown_Helper</class>
            </twm_countdown>
        </helpers>
    </global>
    <frontend>
        <routers>
            <twm_countdown>
                <use>standard</use>
                <args>
                    <frontName>points-countdown-timer</frontName>
                    <module>Twm_Countdown</module>
                </args>
            </twm_countdown>
        </routers>
    </frontend>
</config>