<?xml version="1.0"?>
<config>
    <modules>
        <Twm_Changegrid>
            <version>0.1.0</version>
        </Twm_Changegrid>
    </modules>
    <global>
        <models>
            <twm_changegrid>
                <class>Twm_Changegrid_Model</class>
                <resourceModel>twm_changegrid_resource</resourceModel>
            </twm_changegrid>
            <twm_changegrid_resource>
                <class>Twm_Changegrid_Model_Resource</class>
            </twm_changegrid_resource>
        </models>
        <blocks>
            <twm_changegrid>
                <class>Twm_Changegrid_Block</class>
            </twm_changegrid>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Twm_Changegrid_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <twm_changegrid>
                <class>Twm_Changegrid_Helper</class>
            </twm_changegrid>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <changegrid_before_block>
                        <type>singleton</type>
                        <class>Twm_Changegrid_Model_Observer</class>
                        <method>beforeBlockToHtml</method>
                    </changegrid_before_block>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
</config>