<?xml version="1.0"?>
<config>
    <modules>
        <Twm_TranslationHelper>
            <version>1.0.5</version>
        </Twm_TranslationHelper>
    </modules>
    <global>
        <models>
            <core>
                <rewrite>
                    <translate>Twm_TranslationHelper_Model_Translate</translate>
                </rewrite>
            </core>
            <translationhelper>
                <class>Twm_TranslationHelper_Model</class>
                <resourceModel>translationhelper_mysql4</resourceModel>
            </translationhelper>
            <translationhelper_mysql4>
                <class>Twm_TranslationHelper_Model_Mysql4</class>
                <entities>
                    <translation>
                        <table>core_translate</table>
                    </translation>
                </entities>
            </translationhelper_mysql4>
        </models>
        <blocks>
            <translationhelper>
                <class>Twm_TranslationHelper_Block</class>
            </translationhelper>
        </blocks>
        <helpers>
            <translationhelper>
                <class>Twm_TranslationHelper_Helper</class>
            </translationhelper>
        </helpers>
        <resources>
            <translationhelper_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </translationhelper_write>
            <translationhelper_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </translationhelper_read>
            <translationhelper_setup>
                <setup>
                    <module>Twm_TranslationHelper</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </translationhelper_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <translationhelper>
                <use>admin</use>
                <args>
                    <module>Twm_TranslationHelper</module>
                    <frontName>translationhelper</frontName>
                </args>
            </translationhelper>
        </routers>
    </admin>
</config>
