<?xml version="1.0"?>
<config>
    <modules>
        <Anowave_Ec>
            <version>0.3.0.6</version>
        </Anowave_Ec>
    </modules>
    <global>
    	<models>
		    <ec>
		        <class>Anowave_Ec_Model</class>
		        <resourceModel>ec_resource</resourceModel>
		    </ec>
		    <ec_resource>
                <class>Anowave_Ec_Model_Resource</class>
            </ec_resource>
		</models>
		<blocks>
			<ec>
                <class>Anowave_Ec_Block</class>
            </ec>
            <page>
            	<rewrite>
            		<html>Anowave_Ec_Block_Html</html>
            	</rewrite>
            </page>
		</blocks>
		<helpers>
	        <ec>
	            <class>Anowave_Ec_Helper</class>
	        </ec>
	    </helpers>
		<resources>
		    <anowave_ec_setup>
		        <setup>
		            <module>Anowave_Ec</module>
		        </setup>
		    </anowave_ec_setup>
		    <anowave_ec_write>
				<connection>
					<use>core_write</use>
				</connection>
			</anowave_ec_write>
			<anowave_ec_read>
				<connection>
					<use>core_read</use>
				</connection>
			</anowave_ec_read>
		</resources>
		<events>
			<core_block_abstract_to_html_after>
                <observers>
                    <ec_modify>
                        <class>ec/observer</class>
                        <method>modify</method>
                    </ec_modify>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <ec_success>
                        <class>ec/observer</class>
                        <method>setOrder</method>
                    </ec_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <success>
                        <class>ec/observer</class>
                        <method>setOrder</method>
                    </success>
                </observers>
            </checkout_multishipping_controller_success_action>
            <sales_order_payment_refund>
            	<observers>
                    <cancel>
                        <class>ec/observer</class>
                        <method>refund</method>
                    </cancel>
                </observers>
            </sales_order_payment_refund>
            <absolute_footer>
            	<observers>
                    <footer>
                        <class>ec/observer</class>
                        <method>getFooter</method>
                    </footer>
                </observers>
            </absolute_footer>
            <admin_system_config_changed_section_ec>
            	<observers>
                    <config>
                        <type>singleton</type>
                        <class>ec/config</class>
                        <method>notify</method>
                    </config>
                </observers>
            </admin_system_config_changed_section_ec>
        </events>
    </global>
    <frontend>
    	<layout>
            <updates>
                <ec>
                    <file>ec.xml</file>
                </ec>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
            	<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                		<ec>
											<title>Google Tag Manager</title>
										</ec>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ec>
                    <file>ec.xml</file>
                </ec>
            </updates>
        </layout>
    </adminhtml>
    <default>
    	<ec>
    		<adwords>
    			<conversion_label><![CDATA[Purchase]]></conversion_label>
    			<conversion_format>3</conversion_format>
    			<conversion_color><![CDATA[FFFFFF]]></conversion_color>
    			<conversion_currency>EUR</conversion_currency>
    		</adwords>
    		<revenue>
    			<tax>1</tax>
    			<shipping>1</shipping>
    		</revenue>
    		<definitions>
    			<dimensions>0</dimensions>
    			<dimension1><![CDATA[getCustomerId]]></dimension1>
    			<dimension2><![CDATA[getWishlistCount]]></dimension2>
    			<dimension3><![CDATA[getCustomerGender]]></dimension3>
    			<dimension4><![CDATA[getCustomerGroup]]></dimension4>
    			<dimension5><![CDATA[getCustomerOrdersCount]]></dimension5>
    		</definitions>
    		<facebook>
    			<enable>0</enable>
    		</facebook>
    	</ec>
    </default>
</config>