
    .folder {
        background-image: url('./images/folder.jpg');
        background-position: center;
        background-repeat: no-repeat;
        width: 16px; 
        height: 18px;
        float:left;
        padding-right: 2px;
    }

    .linkItem {
        float:left;    
    }

    .opener {
        background-image: url('./images/minus.gif');
        background-position: center;
        background-repeat: no-repeat;
        float:left;    
        width: 16px; 
        height: 18px;
    }

    .child {
        background-image: url('./images/child.gif');
        background-position: center;
        background-repeat: no-repeat;
        float:left;    
        width: 16px; 
        height: 18px;
    }

    .inputcb {
        width: 16px; 
        height: 18px;
    }

