<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shopworks_BillinkOsc>
            <version>1.0.2</version>
        </Shopworks_BillinkOsc>
    </modules>
    <global>
        <!-- blocks -->
        <blocks>
            <billink_osc>
                <class>Shopworks_BillinkOsc_Block</class>
            </billink_osc>
            <billink>
                <rewrite>
                    <form>Shopworks_BillinkOsc_Block_Rewrite_Form</form>
                </rewrite>
            </billink>
            <checkout>
                <rewrite>
                    <agreements>Shopworks_BillinkOsc_Block_Rewrite_CheckoutAgreements</agreements>
                </rewrite>
            </checkout>
        </blocks>
        <!-- models -->
        <models>
            <billink_osc>
                <class>Shopworks_BillinkOsc_Model</class>
            </billink_osc>
            <billink>
                <rewrite>
                    <payment_method>Shopworks_BillinkOsc_Model_Rewrite_PaymentMethod</payment_method>
                </rewrite>
            </billink>
        </models>
        <!-- helpers -->
        <helpers>
            <billink_osc>
                <class>Shopworks_BillinkOsc_Helper</class>
            </billink_osc>
        </helpers>
    </global>
    <!-- frontend -->
    <frontend>
        <layout>
            <updates>
                <billink_osc>
                    <file>billink_osc.xml</file>
                </billink_osc>
            </updates>
        </layout>
    </frontend>
    <!-- admin -->
    <adminhtml>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <Shopworks_Billink_Osc>
                        <type>model</type>
                        <class>billink_osc/Event_Observer_Admin</class>
                        <method>showBillinkPluginNotifications</method>
                    </Shopworks_Billink_Osc>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </adminhtml>
</config>