<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <payment>
            <groups>
                <billink>
                    <fields>
                        <label_billink_osc_version translate="label">
                            <label>Billink OSC versie</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>billink_osc/adminhtml_system_config_form_field_version</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </label_billink_osc_version>
                    </fields>
                </billink>
            </groups>
        </payment>
    </sections>
</config>