<?xml version="1.0"?>
<config>
    <modules>
        <Twm_Sales>
            <version>0.1.0</version>
        </Twm_Sales>
    </modules>
    <global>
        <models>
            <!--<twm_sales>-->
            <!--<class>Twm_Sales_Model</class>-->
            <!--</twm_sales>-->
            <sales>
                <rewrite>
                    <order>Twm_Sales_Model_Order</order>
                    <order_api_v2>Twm_Sales_Model_Order_Api_V2</order_api_v2>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Twm_Sales_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>Twm_Sales_Block_Sales_Order_Totals</order_totals>
                </rewrite>
            </sales>
        </blocks>
    </global>

</config>
