AddDefaultCharset utf-8

php_value "short_open_tag" "on"

RewriteEngine On

# Rewrite rules for Zend Framework
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/~([a-z0-9]+)(.*)$ index.php
#RewriteRule .* index.php