.toolbar {
	background-color: $white;

	&.fixed {
		top: 90px;

		.hidden-header & {
			top: 35px !important;
		}
	}
}

.category-products {
	ul {
		&.products-grid {
			li {
				&.item {
					text-align: center;
				}
			}
		}
	}
}