#header {
	top: 35px;
	height: 64px;

	.hidden-header & {
		top: -$header-height !important;
	}
	.website-switcher  {
		position: fixed;
		right: 0;
		top: 0;
		list-style: none;
		display: flex;
		padding: 0;
		margin: 0;

		li {
			line-height: 35px;

			a {
				text-transform: uppercase;
				font-size: $m-font;
				padding: 0 $s-spacing;
				color: $white !important;
				line-height: 35px;
				display: block;
				background-color: $primary;
			}

			&.active,
			&:hover {
				a {
					background-color: $white;
					color: $black !important;
				}
			}
		}
	}
}

@media (max-width: 881px){
	#header {
		.website-switcher  {
			display: none;
		}
	}
}