#side-nav {
	top: 99px;

	ul {
		li {
			a {
				text-transform: none;
				font-family: $sub-font !important;
			}
			span {
				text-transform: none;
				font-family: $sub-font !important;
			}
		}
	}

	.active:after {
		content: none;
	}

	.store-switcher-head {
		font-size: $xs-font;
		text-align: center;
	}
}

#main-content {
	padding-top: 98px;
}

#wrapper {
	.block-cart {
		z-index: 998;

		&.show {
			top: 95px !important
		}
	}
}

h1, h2, #product-attribute-specs-table .label {
	font-family: $sub-font !important;
}