<?xml version="1.0"?>
<config>
    <modules>
        <Anowave_Package>
            <version>0.0.0.1</version>
        </Anowave_Package>
    </modules>
    <global>
        <helpers>
            <package>
                <class>Anowave_Package_Helper</class>
            </package>
        </helpers>
    </global>
    <frontend>
    	<routers>
            <anowave>
                <use>standard</use>
                <args>
                    <module>Anowave_Package</module>
                    <frontName>anowave</frontName>
                </args>
            </anowave>
        </routers>
    </frontend>
</config>
