<?xml version="1.0"?>
<config>
    <modules>
        <Twm_ThreeIsOne>
            <version>0.1.0</version>
        </Twm_ThreeIsOne>
    </modules>
    <global>
        <models>
            <twm_threeisone>
                <class>Twm_ThreeIsOne_Model</class>
                <resourceModel>twm_threeisone_resource</resourceModel>
            </twm_threeisone>
            <twm_threeisone_resource>
                <class>Twm_ThreeIsOne_Model_Resource</class>
            </twm_threeisone_resource>
            <amrules>
                <rewrite>
                    <observer>Twm_ThreeIsOne_Model_Rules_Observer</observer>
                </rewrite>
            </amrules>
        </models>
        <helpers>
            <twm_threeisone>
                <class>Twm_ThreeIsOne_Helper</class>
            </twm_threeisone>
            <amrules>
                <rewrite>
                    <data>Twm_ThreeIsOne_Helper_Rules_Data</data>
                </rewrite>
            </amrules>
        </helpers>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <twm_threeisone_model_rules_observer>
                        <type>singleton</type>
                        <class>twm_threeisone/rules_observer</class>
                        <method>handleFinalPrice</method>
                    </twm_threeisone_model_rules_observer>
                </observers>
            </catalog_product_get_final_price>
        </events>
    </global>
</config>