<?xml version="1.0"?>
<config>
    <modules>
       <Total_ActiveQuoteAfterCheckout>
          <version>0.3.20</version>
       </Total_ActiveQuoteAfterCheckout>
    </modules>

    <global>
        <models>
            <ActiveQuoteAfterCheckout>
                <class>Total_ActiveQuoteAfterCheckout_Model</class>
            </ActiveQuoteAfterCheckout>
        </models>
        <events>
            <sales_model_service_quote_submit_after>
                <observers>
                    <ActiveQuoteAfterCheckout_observer>
                        <type>singleton</type>
                        <class>Total_ActiveQuoteAfterCheckout_Model_Observer</class>
                        <method>sales_model_service_quote_submit_after</method>
                    </ActiveQuoteAfterCheckout_observer>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
        
        <rewrite>
            <Total_ActiveQuoteAfterCheckout_Checkout_Onepage>
                <from><![CDATA[#^/checkout/onepage/#]]></from>
                <to>/activequotecheckout/checkout_onepage/</to>
            </Total_ActiveQuoteAfterCheckout_Checkout_Onepage>
        </rewrite>
    </global>

    <frontend>
        <routers>
            <Total_ActiveQuoteAfterCheckout>
                <use>standard</use>
                <args>
                    <module>Total_ActiveQuoteAfterCheckout</module>
                    <frontName>activequotecheckout</frontName>
                </args>
            </Total_ActiveQuoteAfterCheckout>
        </routers>
    </frontend>
</config>