.buttons-set {
	@extend .clearfix;
	margin-bottom: $m-spacing;
}

.button,
input[type=submit] {
	@extend .main-transition;
	@include radius(0);
	display: inline-block;
	height: $form-field-height;
	line-height: $form-field-height;
	padding: 0 $xl-spacing;
	border: 2px solid $primary;
	background-color: $primary;
	font-weight: bold;
	color: $white;
	text-transform: uppercase;
	cursor: pointer;
	font-size: $m-font;
	margin-right: $m-spacing;

	&:hover,
	&:focus {
		background-color: transparent;
		color: $primary;
		outline: none;
	}

	&.button-link {
		background-color: transparent;
		font-weight: $regular;
		color: $primary;
		border: none;
		padding: 0;
		text-transform: none;

		&:before {
			font-family: 'Material Design Icons';
			content: "\F142";
			margin-right: $xxs-spacing;
		}

		&:hover,
		&:focus {
			color: $xl-grey;
		}

		&.button-back {
			&:before {
				content: "\F141";
			}
		}
	}

	&.button-simple {
		background-color: $l-grey;
		border-color: $l-grey;

		&:hover,
		&:focus {
			background-color: transparent;
			color: $l-grey;
		}
	}

	&.button-outline {
		background-color: transparent;
		border-color: $s-grey;
		color: $xl-grey;

		&:hover,
		&:hover {
			border-color: $primary;
			color: $primary;
		}
	}

	&.button-sm {
		padding: 0 $s-spacing;
	}

	&.button-block {
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
	}

	&:last-child {
		margin-right: 0;
	}
}

p.back-link {
	color: $primary;
	display: inline-block;
	margin-right: $xl-spacing;

	&:before {
		font-family: 'Material Design Icons';
		content: "\F141";
		margin-right: $xxs-spacing;

		&:hover,
		&:focus {
			color: $xl-grey;
		}
	}

	small {
		display: none;
	}
}