/*======================================================
	DEFAULT
======================================================*/
.catalog-category-view {
	main {
		.content-container {
			width: 80%;
		}
	}
}

/*======================================================
	TOOLBAR
======================================================*/
.toolbar {
	@extend .clearfix;
	@extend .main-transition;
	padding: $xs-spacing 0;
	position: relative;
	background-color: $xxs-grey;

	select {
		border-width: 2px;
		font-weight: bold;
		background-color: transparent;
	}
	
	.pager {
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 30;
		margin-top: -40px;
		line-height: $m-font;

		a {
			color: $m-grey;
		}

		.amount,
		.limiter {
			float: none;
			display: inline-block;
			padding: 0 $s-spacing;
			border-right: 1px solid $m-grey;

			a.active {
				display: none;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	.sorter {
		float: right;
		margin-right: $xs-spacing;

		p {
			height: $form-field-height;
			line-height: $form-field-height;
			float: left;
			border: 2px solid $s-grey;
			border-right: none;
			font-weight: $bold;
			padding-left: $m-spacing;
			color: $xl-grey;
			margin-bottom: 0;
		}
		.select-overlay {
			float: left;
			width: 200px;

			label {
				border: 2px solid $xl-grey;
				font-weight: $bold;
				background-color: transparent;

				span {
					font-weight: $regular;
				}
			}
		}
		a {
			float: left;
			font-weight: $bold;
			color: $xl-grey;
			line-height: 42px;
			padding: $xs-spacing $xxs-spacing;
			font-size: $xl-font;
		}
	}

	&.fixed {
		width: calc(100% - #{$side-nav-width});
		left: $side-nav-width;
		position: fixed;
		top: $header-height;
		z-index: 800;
	}
}
.toolbar-bottom {
	.toolbar {
		.pager {
			position: static;
			float: left;
			margin: 0;
			color: $m-grey !important;
			text-align: left;
			width: auto;

			.amount,
			.limiter {
				border-right-color: $m-grey !important;
			}

			a {
				color: $m-grey !important;
			}
		}
	}
}

/*= White pager if category image =*/
.page-visual ~ .category-products {
	.toolbar {
		.pager {
			color: $white;

			a {
				color: $white;
			}

			.amount,
			.limiter {
				border-right-color: $white;
			}
		}
	}
}

/*======================================================
	LIST
======================================================*/
.category-products {
	ul.products-grid {
		@extend .unstyled;
		@extend .clearfix;

		li.item {
			@extend .clearfix;
			float: left;
			width: 25%;
			border-left: 2px solid transparent;

			a.product-image {
				display: block;
				position: relative;

				.hover-image {
					position: absolute;
					top: 0;
					left: 0;
					background-color: $black;
					opacity: 0;
				}

				&:hover {
					.hover-image {
						opacity: 1;
					}
				}
			}
			h2.product-name {
				float: left;
				width: calc(100% - 100px);
				margin: 0;
				padding: $xxs-spacing $xs-spacing;
				font-size: $m-font;
				font-weight: $bold;
				height: 82px;
			}
			.price-box {
				width: 100px;
				float: right;
				padding: $xxs-spacing $xs-spacing;
				text-align: right;
			}
		}
	}
}