.catalog-category-view {
	main {
		.content-container {
			width: 75%;
		}
	}
}

/*======================================================
	TOOLBAR
======================================================*/
.toolbar {
	@extend .clearfix;
	padding: $xs-spacing 0;
	position: relative;

	select {
		border-width: 2px;
		font-weight: bold;
		background-color: transparent;
	}
	
	.pager {
		position: absolute;
		color: $white;
		text-align: center;
		width: 100%;
		z-index: 30;
		margin-top: -40px;
		line-height: $m-font;

		a {
			color: $white;
		}

		.amount,
		.limiter {
			display: inline-block;
			padding: 0 $s-spacing;
			border-right: 1px solid $white;

			a.active {
				display: none;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	.sorter {
		float: right;
		margin-right: $xs-spacing;

		p {
			height: $form-field-height;
			line-height: $form-field-height;
			float: left;
			border: 2px solid $s-grey;
			border-right: none;
			font-weight: $bold;
			padding-left: $m-spacing;
			color: $xl-grey;
			margin-bottom: 0;
		}
		.select-overlay {
			float: left;

			label {
				border-width: 2px;
				border-left: none;
				font-weight: $regular;
				background-color: transparent;
			}
		}
		a {
			float: left;
			font-weight: $bold;
			color: $xl-grey;
			line-height: 42px;
			padding: 0 $xxs-spacing;
			font-size: $xl-font;
		}
	}
}
.toolbar-bottom {
	margin-bottom: $l-spacing;

	.toolbar {
		.pager {
			position: static;
			float: left;
			margin: 0;
			color: $m-grey;
			text-align: left;
			width: auto;

			.amount,
			.limiter {
				border-right-color: $m-grey;
			}

			a {
				color: $m-grey;
			}
		}
	}
}

/*======================================================
	LIST
======================================================*/
.category-products {
	ul.products-grid {
		@extend .unstyled;
		@extend .clearfix;

		li.item {
			@extend .clearfix;
			float: left;
			width: 25%;
			border-left: 2px solid transparent;

			a.product-image {
				display: block;
			}
			h2.product-name {
				float: left;
				width: calc(100% - 100px);
				margin: 0;
				padding: $xxs-spacing $xs-spacing;
				font-size: $m-font;
				font-weight: $bold;
				height: 82px;
			}
			.price-box {
				width: 100px;
				float: right;
				padding: $xxs-spacing $xs-spacing;
				text-align: right;

				p {
					margin: 0;

					.price-label {
						display: none;
					}
				}
			}
		}
	}
}