.checkout-onepage-index {
	#header .nav-btn,
	#header .quick-access,
	#side-nav {
		display: none;
	}
	#main {
		width: 100%;
		left: 0;
	}
}
#checkoutSteps {
	> li {
		display: none;

		&.active {
			display: block;
		}
	}
}
.progress-bar {
	display: inline-block;
	margin-bottom: 0;

	li {
		float: left;
		position: relative;
		font-size: $l-font;
		padding-left: $xl-spacing + 10;
		text-align: left;
		padding-right: $m-spacing + 10;

		.mdi {
			@include radius(50%);
			width: $xl-spacing;
			height: $xl-spacing;
			line-height: $xl-spacing;
			background-color: $m-grey;
			color: $xxs-grey;
			text-align: center;
			font-size: $xl-font;
			position: absolute;
			left: 0;
		}

		strong {
			color: $m-grey;
			text-transform: uppercase;
		}

		&:after {
			content: "";
			height: 1px;
			width: $m-spacing;
			background-color: $m-grey;
			position: absolute;
			right: 0;
			top: 50%;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}

#checkout-progress-wrapper {
	.block {
		border: none;
		background-color: $white;

		ul {
			margin: 0;
		}
	}
}
.pcnl-info-text {
	margin-bottom: $m-spacing;
}

#wrapper .block.block-cart {
	@include transition(all 0.5s ease-in);
	position: fixed;
	right: 0;
	top: -1000px;
	border: none;
	background-color: $white;
	z-index: 950;
	width: 522px;

	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;

	&.show {
		@include transition(all 0.5s ease-out);
		top: $header-height;

		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	#cart-sidebar {
		li {
			position: relative;
			padding: 0 30px 0 100px;
			margin-bottom: $xs-spacing;
			min-height: 80px;

			.product-image {
				position: absolute;
				top: 0;
				left: 0;
			}
			.btn-remove {
				position: absolute;
				top: 0;
				right: 0;
			}
			.btn-edit {
				position: absolute;
				top: 0;
				right: 15px;
			}
			.product-name {
				font-weight: $bold;
				text-transform: uppercase;
				color: $xl-grey;
				margin-bottom: 0;

				a {
					color: $xl-grey;
				}
			}
			dl {
				@extend .clearfix;
				margin: 0;

				dt,
				dd {
					display: inline-block;
					margin: 0;
				}
				dt {
					&:after {
						content: ":";
					}
				}
			}
		}
	}

	.subtotal {
		text-align: right;
		padding-top: $xs-spacing;
		border-top: 1px solid $xl-grey;
	}
	.actions {
		text-align: right;
	}
}
