.checkout-onepage-index {
	#header .nav-btn,
	#header .quick-access,
	#side-nav {
		display: none;
	}
	#main {
		width: 100%;
		left: 0;
	}
}
#checkoutSteps {
	> li {
		display: none;

		&.active {
			display: block;
		}
	}
}
.progress-bar {
	display: inline-block;
	margin-bottom: 0;

	li {
		float: left;
		position: relative;
		font-size: $l-font;
		padding-left: $xl-spacing + 10;
		text-align: left;
		padding-right: $m-spacing + 10;

		.mdi {
			@include radius(50%);
			width: $xl-spacing;
			height: $xl-spacing;
			line-height: $xl-spacing;
			background-color: $m-grey;
			color: $xxs-grey;
			text-align: center;
			font-size: $xl-font;
			position: absolute;
			left: 0;
		}

		strong {
			color: $m-grey;
			text-transform: uppercase;
		}

		&:after {
			content: "";
			height: 1px;
			width: $m-spacing;
			background-color: $m-grey;
			position: absolute;
			right: 0;
			top: 50%;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}

#checkout-progress-wrapper {
	.block {
		border: none;
		background-color: $white;

		ul {
			margin: 0;
		}
	}
}
.pcnl-info-text {
	margin-bottom: $m-spacing;
}