.unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-transition {
	@include transition(all 0.3s ease-out);
}
.clearfix {
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}