.row {
	margin: 0 (-$m-spacing);

	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}

	> *[class^="col-"] {
		float: left;
		padding: 0 $m-spacing;
	}

	> .col-1 {
		width: 8.33333%;
	}
	> .col-2 {
		width: 16.66667%;
	}
	> .col-3 {
		width: 25%;
	}
	> .col-4 {
		width: 33.33333%;
	}
	> .col-5 {
		width: 41.66667%;
	}
	> .col-6 {
		width: 50%;
	}
	> .col-7 {
		width: 58.33333%;
	}
	> .col-8 {
		width: 66.66667%;
	}
	> .col-9 {
		width: 75%;
	}
	> .col-10 {
		width: 83.33333%;
	}
	> .col-11 {
		width: 91.66667%;
	}
	> .col-12 {
		width: 100%;
	}

	&.wide {
		margin: 0;

		> *[class^="col-"] {
			padding: 0;
		}
	}

	&.thin {
		margin: 0 (-$xxs-spacing);

		> *[class^="col-"] {
			padding: 0 $xxs-spacing;
		}
	}
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}