/*======================================================
	DEFAULT
======================================================*/
html, body {
	height: 100%;
	background: $xs-grey;
	margin: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*======================================================
	SIDE NAV
======================================================*/
#side-nav {
	@extend .main-transition;
	position: fixed;
	background-color: #fff;
	left: 0;
	width: $side-nav-width;
	top: $header-height;
	bottom: 0;
	z-index: 999;

	ul {
		@extend .unstyled;

		> li {
			> a {
				display: block;
				border-bottom: 1px solid $s-grey;
				padding: $s-spacing $m-spacing;
				font-size: $l-font;
				text-transform: uppercase;
				font-weight: 500;
			}
		}
	}
}

/*======================================================
	MAIN
======================================================*/
#main {
	@extend .main-transition;
	position: relative;
	left: $side-nav-width;
	width: calc(100% - #{$side-nav-width});
	padding-top: $header-height;
}

/*======================================================
	FOOTER
======================================================*/
#footer {
	@extend .main-transition;
	position: relative;
	left: $side-nav-width;
	width: calc(100% - #{$side-nav-width});
	text-align: center;

	.footer-content {
		width: 1000px;
		display: inline-block;
		text-align: justify;
	}
}

/*======================================================
	TOGGLE SIDE NAV
======================================================*/
.hide-side-nav {
	#side-nav {
		left: -$side-nav-width;
	}
	#main,
	#footer {
		width: 100%;
		left: 0;
	}
}