/*======================================================
	DEFAULT
======================================================*/
html, body {
	height: 100%;
	background: $xxs-grey;
	margin: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*======================================================
	SIDE NAV
======================================================*/
#side-nav {
	@extend .main-transition;
	position: fixed;
	background-color: #fff;
	left: 0;
	width: $side-nav-width;
	top: $header-height;
	bottom: 0;
	z-index: 999;

	> ul {
		@extend .unstyled;
		margin-bottom: 0;

		> li {
			border-bottom: 1px solid $s-grey;

			> a {
				display: block;
				padding: $s-spacing $m-spacing;
				font-size: $m-font;
				text-transform: uppercase;
				font-weight: $bold;
				color: $xl-grey;
			}

			> ul {
				@extend .unstyled;
				display: none;

				> li {
					> a {
						display: block;
						padding: $xxs-spacing $m-spacing;
						color: $m-grey;

						&:hover,
						&:focus {
							color: $xl-grey;
						}
					}

					&.active {
						a {
							color: $xl-grey;
							font-weight: $bold;

							span {
								position: relative;

								&:after {
									content: "";
									position: absolute;
									width: 100%;
									height: 2px;
									background-color: $xl-grey;
									bottom: 0;
									left: 0;
								}
							}
						}
					}
				}
			}

			&.parent {
				> a {
					position: relative;

					&:after {
						position: absolute;
						content: "\F415";
						font-family: 'Material Design Icons';
						top: 50%;
						font-size: $l-font;
						right: $m-spacing;
						margin-top: -11px;
					}
				}

				&.active {
					> a {
						&:after {
							content: "\F374";
						}
					}
					> ul {
						display: block;
					}
				}
			}
		}
	}
}

/*======================================================
	MAIN
======================================================*/
#main {
	@extend .main-transition;
	position: relative;
	left: $side-nav-width;
	width: calc(100% - #{$side-nav-width});
	padding-top: $header-height;
}

/*======================================================
	VISUAL & TOP
======================================================*/
.page-top,
.page-visual {
	.content {
		text-align: center;
		color: $white;

		p,
		ul,
		ol {
			margin: $s-spacing 0;
		}

		h1 {
			font-size: $xxxxl-font;
			line-height: $xxxxl-font;
			margin: 0;
			color: $white;
			text-transform: lowercase;
		}

		a {
			color: $white;
		}

		.button {
			border-color: $white;
			background-color: $white;
			color: $xl-grey;

			&.button-outline {
				border-color: $white;
				background-color: transparent;
				color: $white;

				&:hover,
				&:focus {
					background-color: $white;
					color: $xl-grey;
				}
			}
		}
	}
}
.page-visual {
	height: 410px;
	background-position: 50%;
	background-size: cover;
	position: relative;

	.content {
		@extend .position-center;
		width: 100%;
		color: $white;
		z-index: 20;
	}

	/*&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		background-color: rgba(0,0,0,0.2);
	}*/
}

/*======================================================
	CONTENT
======================================================*/
.content-container {
	width: 1000px;
	margin: 0 auto;
}

.content-box-wrapper {
	position: relative;

	.content-box {
		@include transform(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 50%;
		width: 80%;
		max-width: 420px;
	}
}

.content-box-img-left,
.content-box-img-right {
	position: relative;

	img {
		display: block;
	}
}
.content-box-img-left:before,
.content-box-img-right:before {
	@include rotate(45deg);
	content: "";
	background-color: $xxs-grey;
	width: $xxl-font;
	height: $xxl-font;
	position: absolute;
	top: 50%;
	margin: -($xxl-font / 2);
}
.content-box-img-left:before {
	right: 0;
}
.content-box-img-right:before {
	left: 0;
}

/*======================================================
	AREAS
======================================================*/
.area {
	padding: $xxl-spacing 0;

	&.area-m {
		padding: $m-spacing 0;
	}
	&.area-l {
		padding: $l-spacing 0;
	}
	&.area-xl {
		padding: $xl-spacing 0;
	}
}

.bg-xs-grey {
	background-color: $xs-grey;
}

/*======================================================
	PAGER
======================================================*/
.pager {
	@extend .clearfix;
	margin: $m-spacing 0;

	.amount {
		float: left;
	}
	.limiter {
		float: right;

		label {
			background-color: transparent;
			border-width: 2px;
		}
	}
}

/*======================================================
	CUSTOM DROPDOWN
======================================================*/
.custom-dropdown {
	position: relative;

	strong {
		padding-right: $l-spacing;
		position: relative;
		color: $xl-grey;
		cursor: pointer;

		&:after {
			position: absolute;
			font-family: 'Material Design Icons';
			content: "\F140";
			right: $xs-spacing;
		}
	}

	.list {
		@extend .fade-in-transition;
		position: absolute;
		top: $form-field-height;
		background-color: $white;
		left: 0;
		padding: $s-spacing;
		z-index: 999;
		font-weight: normal;

		> a,
		> div {
			display: block;
			white-space: nowrap;
			padding: $xs-spacing 0;
		}
	}

	&:focus,
	&.focus {
		strong {
			border-color: $white;

			&:after {
				content: "\F143";
			}
		}
		.list {
			visibility: visible;
			opacity: 1;
		}
	}
}

/*======================================================
	BOX
======================================================*/
.box {
	margin-bottom: $m-spacing;
}

/*======================================================
	BLOCK
======================================================*/
.block {
	margin-bottom: $m-spacing;
	border: 1px solid $s-grey;
	padding: $m-spacing;

	.block-title {
		font-size: $s-font;
		text-transform: uppercase;
		margin-bottom: $m-spacing;
	}

	ul,
	ol {
		list-style: none;
		padding: 0;

		li {
			a {
				color: $m-grey;

				&:hover,
				&:focus {
					color: $xl-grey;
				}
			}
			strong {
				font-weight: $regular;
			}
			&.current {
				color: $xl-grey;
			}
		}
	}
}

/*======================================================
	SOCIAL
======================================================*/
ul.social {
	li {
		display: inline-block;

		a {
			@include radius(50%);
			display: inline-block;
			width: $xxxl-font;
			height: $xxxl-font;
			line-height: $xxxl-font;
			text-align: center;
			background-color: $m-grey;
			font-size: $xl-font;
			color: $xxs-grey;
			margin-right: $xxs-spacing;

			i {
				span {
					display: none;
				}
			}

			&:hover {
				background-color: $xl-grey;
			}
		}

	}
}

/*======================================================
	FOOTER
======================================================*/
#footer {
	@extend .main-transition;
	position: relative;
	left: $side-nav-width;
	width: calc(100% - #{$side-nav-width});
	text-align: center;
	padding-top: $xxl-spacing;
	color: $m-grey;

	form {
		margin-bottom: $xxl-spacing;

		label {
			display: block;
			margin-bottom: $s-spacing;
			float: none;
			width: auto;

			strong {
				color: $xl-grey;
			}
		}

		input[type=email],
		input[type=text] {
			width: 400px;
			float: left;
			background-color: transparent;
			border-width: 2px;
			border-color: $xl-grey;
			margin-right: $s-spacing;

			&:focus {
				color: $xl-grey;
				font-weight: bold;
			}
		}
	}

	.content-container {
		display: inline-block;
		text-align: justify;
	}

	h2 {
		text-transform: uppercase;
		font-size: $m-font;
		margin-bottom: 0;
		line-height: $xxl-font;
	}

	ul {
		@extend .unstyled;
		line-height: $xxl-font;
	}

	a {
		color: $m-grey;

		&:hover {
			color: $xl-grey;
		}
	}

	ul.social {
		text-align: center;
		margin: $xl-spacing 0;

		li {
			a {
				margin: 0 $xxs-spacing;
				color: $white;
			}
		}
	}

	.footer-bar {
		border-top: 1px solid $s-grey;
		border-bottom: 1px solid $s-grey;
		text-align: center;
		margin: $xl-spacing 0;

		p {
			margin: $m-spacing 0;

			img {
				display: inline-block;
				opacity: 0.5;
				margin: 0 $s-spacing;
			}
		}
	}
}

.back-to-top {
	@extend .fade-in-transition;
	position: fixed;
	background-color: $white;
	right: 0;
	bottom: 0;
	padding: $xs-spacing ($xl-spacing + $m-spacing);
	color: $m-grey;
	font-weight: $bold;

	&.show {
		opacity: 1;
		visibility: visible;
	}
	
	.mdi {
		position: absolute;
		top: 50%;
		margin-top: -($m-font / 2);
		right: $xs-spacing;
	}
}

/*======================================================
	TOGGLE SIDE NAV
======================================================*/
.notice-cookie {
	@include transform(-50%, 0);
	@extend .clearfix;
	position: fixed;
	z-index: 999;
	bottom: $m-spacing;
	left: 50%;
	background-color: transparentize($xl-grey, 0.3);
	color: $white;

	a {
		color: $white;
		text-decoration: underline;
	}

	.notice-text {
		float: left;
		padding: $s-spacing;
		width: calc(100% - 50px);

		p {
			margin: 0;
		}
	}

	.actions {
		.button {
			position: absolute;
			width: 50px;
			height: 100%;
			padding: 0;
			background-color: $l-grey;
			border: none;

			span {
				display: none;
			}

			&:after {
				content: "\F156";
				font-family: 'Material Design Icons';
				font-size: $xl-font;
			}
			&:hover,
			&:focus {
				color: $m-grey;
			}
		}
	}
}

/*======================================================
	TOGGLE SIDE NAV
======================================================*/
.hide-side-nav {
	#side-nav {
		left: -$side-nav-width;
	}
	#main,
	.toolbar.fixed,
	.amshopby-filters.fixed,
	#footer {
		width: 100%;
		left: 0;
	}
	#header > .mdi-close:before {
		content: "\F415";
	}
}