.owl-title {
	margin: $m-spacing $xl-spacing;
}
.owl-carousel {

	/*= Item =*/
	.owl-item {
		@extend .clearfix;

		a.product-image {
			display: block;
		}
		h2.product-name {
			margin: 0;
			margin: $xxs-spacing $xxs-spacing 0;
			font-size: $m-font;
			font-weight: $bold;
		}
		.price-box {
			margin: $xxs-spacing $xxs-spacing $s-spacing;
			font-size: $s-font;

			p {
				margin: 0;
			}
		}
	}

	/*= Controls =*/
	.owl-controls {

		.owl-nav {
			.owl-prev,
			.owl-next {
				position: absolute;
				top: 50%;
				background-color: $xl-grey;
				margin-top: -20px;
				color: $white;
				font-size: $xxl-font;
				padding: $xxs-spacing;
				text-align: center;
				line-height: $xl-spacing;
			}
			.owl-prev {
				left: 0;
			}
			.owl-next {
				right: 0;
			}
		}

		.owl-dots {
			text-align: center;

			.owl-dot {
				@include radius(50%);
				@extend .main-transition;
				display: inline-block;
				width: $s-spacing;
				height: $s-spacing;
				background-color: $xl-grey;
				margin: 0 $xxs-spacing;

				&.active,
				&:hover {
					background-color: $m-grey;
				}
			}
		}
	}

}