#poll-answers {
	@extend .unstyled;
	margin-bottom: 0;

	li {
		position: relative;
		background-color: $m-grey;
		margin-top: $xxs-spacing;
		padding: $xxs-spacing;

		.answer,
		.votes {
			position: relative;
			z-index: 20;
			color: $white;
		}

		.bar {
			display: inline-block;
			background-color: $xl-grey;
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 10;
		}
	}
}