.price-box {
	color: $xl-grey;
	font-weight: bold;

	.old-price {
		text-decoration: line-through;
		color: $m-grey;
	}

	p {
		margin: 0 !important;

		.price-label {
			display: none;
		}
	}
}