.price-box {
	.old-price {
		text-decoration: line-through;
		color: $m-grey;
	}

	p {
		margin: 0 !important;
	}

	.regular-price {
		.show-modal {
			color: $xl-grey;
		}
	}
	.third-price {
		color: $xl-grey;

		.price {
			color: $success;
			font-weight: bold;
		}

		.icon-question {
			margin-left: $xxs-spacing;
			font-size: $l-font;
			display: none;
		}
	}
}

.product-options-wrapper {
	.price-box {
		.third-price {
			font-size: $xl-font;

			.price {
				font-size: $xxl-font;
			}
		}
	}
}