/*======================================================
	DEFAULT
======================================================*/
.product-header {
	display: none;

	.product-header-title {
		font-size: $xxxl-font;
		line-height: $xxxl-font;
		color: $xl-grey;
		margin: $l-spacing 0 $m-spacing;
		font-weight: $bold;
	}
	.price-box {
		p {
			display: inline-block;
			margin-right: $xs-spacing;
		}
	}
}

.product-view {
	position: relative;
}

.show-more {
	@include transform(-50%,0);
	@extend .fade-out-transition;
	position: fixed;
	background-color: transparentize($white, 0.15);
	bottom: $xs-spacing;
	left: 50%;
	z-index: 999;
	padding: $xs-spacing;
	color: $l-grey;

	&.hide {
		opacity: 0;
		visibility: hidden;
	}

	.mdi {
		display: block;
		font-size: $xxxxl-font;
		text-align: center;
		margin: -$s-spacing 0;
	}
}

/*======================================================
	VISUAL
======================================================*/
.product-visual-wrapper {
	position: relative;
	background-color: transparentize($s-grey, 0.5);

	.product-visual {
		width: 100%;
		height: 675px;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: 30% 50%;
		background-size: auto 100%;
		cursor: zoom-in;

		img {
			width: 100%;
			height: 100%;
		}
	}
	.more-views {
		position: absolute;
		left: $m-spacing;
		bottom: $m-spacing;
		z-index: 100;

		a {
			display: block;
			width: 80px;
			margin: $xs-spacing $xs-spacing 0 0;

			img {
				display: block;
			}
		}

		&.double-row {
			width: 160px + ($xs-spacing * 2);

			a {
				float: left;
			}
		}
	}
}

.zoomContainer {
	@extend .fade-in-transition;

	&.visible {
		opacity: 1;
		visibility: visible;

		.zoomWindow {
			display: block !important;
			opacity: 1 !important;
			cursor: zoom-out !important;
		}
	}
}

/*======================================================
	OPTIONS
======================================================*/
.product-options-wrapper {
	@include transform(0, -50%);
	position: absolute;
	top: 50%;
	right: $xxl-spacing;
	max-width: 360px;

	h1,
	p {
		margin-bottom: $xs-spacing;
	}
	p.required {
		margin-top: $xs-spacing;
	}

	.product-shop {
		.price-box {
			p {
				display: inline-block;
				margin-right: $xs-spacing;
			}
		}
	}
	.product-options {
		.select-overlay {
			float: left;
			width: 30%;

			label {
				border-width: 2px;
				font-weight: $bold;
				background-color: transparent;
			}
		}
	}
	.product-options-bottom {
		margin-bottom: $m-spacing;

		.price-box {
			display: none;
		}
	}
}

.availability {
	font-weight: $bold;
	position: relative;

	&:before {
		@include radius(50%);
		content: "";
		width: $xs-spacing;
		height: $xs-spacing;
		background-color: $xl-grey;
		display: inline-block;
		margin-right: $xs-spacing;
	}

	&.in-stock:before {
		background-color: $success;
	}
	&.out-of-stock:before {
		background-color: $error;
	}
}