/*======================================================
	DEFAULT
======================================================*/
html,
body {
	font-family: $main-font;
	color: $m-grey;
	font-size: $m-font;
	line-height: $m-font * 1.5;
}

/*======================================================
	TITLES
======================================================*/
h1,
h2,
h3 {
	margin: 0 0 $m-spacing;
	color: $xl-grey;
}

/*======================================================
	TEXT
======================================================*/
p,
ul,
ol {
	margin: 0 0 $m-spacing;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.lowercase {
	text-transform: lowercase;
}
.uppercase {
	text-transform: uppercase;
}

/*======================================================
	LINKS
======================================================*/
a {
	@extend .main-transition;
	color: $l-grey;
	text-decoration: none;
}
button {
	@extend .main-transition;
	cursor: pointer;
}

/*======================================================
	IMAGES
======================================================*/
img {
	max-width: 100%;
	height: auto;
}