/*======================================================
	DEFAULT
======================================================*/
html,
body {
	font-family: $main-font;
	color: $m-grey;
	font-size: $m-font;
	line-height: $m-font * 1.5;
}

h1,
h2,
h3,
p,
ul,
ol,
address,
table {
	margin: 0 0 $m-spacing;
}

ul,
ol {
	padding-left: 15px;
}

hr {
	height: 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px dotted $m-grey;
	margin: $m-spacing 0;

	&.hr-xl {
		margin: $xl-spacing 0;
	}
}

/*======================================================
	TITLES
======================================================*/
h1,
h2,
h3 {
	color: $xl-grey;
	line-height: normal;
}

h1 {
	font-size: $xxxl-font;
	line-height: $xxxl-font;
}
h2 {
	font-size: $xxl-font;
}
h3 {
	color: $l-grey;
}

.page-title {
	border-bottom: 1px dotted $m-grey;
	margin-bottom: $l-spacing;

	h1 {
		text-align: center;
	}

	> * {
		margin: $xl-spacing 0;
	}
}
.area {
	.page-title {
		> * {
			margin-top: 0;
		}
	}
}

/*======================================================
	TEXT
======================================================*/
.nobr,
.no-wrap {
	white-space: nowrap;
}
strong {
	color: $xl-grey;
}

.error {
	color: $error;
}

/*= Check =*/
.check {
	list-style: none;
	padding: 0;

	li {
		position: relative;
		padding-left: $m-spacing;
		
		&:before {
			position: absolute;
			font-family: 'Material Design Icons';
			content: "\F12C";
			color: $xl-grey;
			top: 0;
			left: 0;
			font-size: $l-font;
		}
	}
}

/*= Alignment =*/
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}

/*= Case =*/
.capitalize {
	text-transform: capitalize;
}
.lowercase {
	text-transform: lowercase;
}
.uppercase {
	text-transform: uppercase;
}

address {
	margin-bottom: $m-spacing;
	font-style: normal;
}

/*======================================================
	LINKS
======================================================*/
a {
	@extend .main-transition;
	color: $primary;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $l-grey;
		outline: none;
	}
}
button {
	@extend .main-transition;
	cursor: pointer;
}
.link {
	&:before {
		font-family: 'Material Design Icons';
		content: "\F142";
		margin-right: $xxs-spacing;
	}
}
.link-mdi {
	font-size: $xl-font;
}

/*======================================================
	IMAGES
======================================================*/
img {
	max-width: 100%;
	height: auto;
}

/*======================================================
	TABLE
======================================================*/
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	tr {
		border-bottom: 1px dotted $m-grey;
	}

	th,
	td {
		padding: $s-spacing $xs-spacing;
		padding-left: 0;
		text-align: left;
		vertical-align: top;

		&:last-child {
			padding-right: 0;
		}

		img {
			max-width: none !important;
		}
	}

	th {
		font-weight: $regular;
		color: $xl-grey;
	}
}

/*======================================================
	MESSAGES
======================================================*/
.global-site-notice {
	position: fixed;
	bottom: 0;
	padding: $m-spacing;
	color: $white;
	background-color: $notice;

	> *:last-child {
		margin-bottom: 0;
	}
}
ul.messages {
	@extend .unstyled;
	margin: 0;
	padding: 0;

	ul {
		@extend .unstyled;
		margin: 0;

		li {
			//border: 1px solid $m-grey;
			background-color: $s-grey;
			padding: $s-spacing $m-spacing;
			color: $l-grey;
		}
	}

	.error-msg {
		li {
			border-color: $error;
			color: $error;
			background-color: lighten($error, 57%);
		}
	}

	.success-msg {
		li {
			border-color: $success;
			color: $success;
			background-color: lighten($success, 57%);
		}
	}

	.warning-msg,
	.notice-msg {
		li {
			border-color: $notice;
			color: $notice;
			background-color: lighten($notice, 57%);
		}
	}
}