/*======================================================
	FONTS
======================================================*/
$main-font: 'Ubuntu', Arial, sans-serif;

/*======================================================
	COLORS
======================================================*/
$black: #000;
$primary: #00385f;
$xl-grey: #303030;
$l-grey: #4c4c4c;
$s-grey: #dcdcdc;
$xs-grey: #f7f7f7;
$white: #fff;

/*======================================================
	FONT SIZES
======================================================*/
$xxl-font: 35px;
$xl-font: 21px;
$l-font: 17px;
$m-font: 14px;

/*======================================================
	FONT WEIGHTS
======================================================*/
$bold: 700;
$medium: 500;
$regular: 400;
$thin: 300;

/*======================================================
	SPACINGS
======================================================*/
$l-spacing: 30px;
$m-spacing: 20px;
$s-spacing: 15px;
$xs-spacing: 10px;
$xxs-spacing: 5px;

/*======================================================
	ELEMENT SIZES
======================================================*/
$header-height: 54px;
$side-nav-width: 250px;