/*======================================================
	FONTS
======================================================*/
$main-font: 'Ubuntu', Arial, sans-serif;

/*======================================================
	COLORS
======================================================*/
$black: #000;
$primary: #00385f;
$xl-grey: #303030;
$l-grey: #4c4c4c;
$m-grey: #9a9a9a;
$s-grey: #dcdcdc;
$xs-grey: #eeeeee;
$xxs-grey: #f7f7f7;
$white: #fff;

$error: #c40000;
$notice: #d18000;
$success: #32a400;

/*======================================================
	FONT SIZES
======================================================*/
$xxxxl-font: 60px;
$xxxl-font: 40px;
$xxl-font: 30px;
$xl-font: 21px;
$l-font: 17px;
$m-font: 14px;
$s-font: 12px;

/*======================================================
	FONT WEIGHTS
======================================================*/
$bold: 700;
$medium: 500;
$regular: 400;
$thin: 300;

/*======================================================
	SPACINGS
======================================================*/
$xxl-spacing: 80px;
$xl-spacing: 40px;
$l-spacing: 30px;
$m-spacing: 20px;
$s-spacing: 15px;
$xs-spacing: 10px;
$xxs-spacing: 5px;

/*======================================================
	ELEMENT SIZES
======================================================*/
$header-height: 54px;
$side-nav-width: 250px;
$form-field-height: 42px;