<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category    Transsmart
 * @package     Transsmart_Shipping
 * @copyright   Copyright (c) 2016 Techtwo Webdevelopment B.V. (http://www.techtwo.nl)
 */
-->
<config>
    <modules>
        <Transsmart_Shipping>
            <version>1.0.7</version>
        </Transsmart_Shipping>
    </modules>
    <global>
        <blocks>
            <transsmart_shipping>
                <class>Transsmart_Shipping_Block</class>
            </transsmart_shipping>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>Transsmart_Shipping_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Transsmart_Shipping_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_order_create_shipping_method_form>Transsmart_Shipping_Block_Adminhtml_Sales_Order_Create_Shipping_Method_Form</sales_order_create_shipping_method_form>
                    <sales_order_view_tab_shipments>Transsmart_Shipping_Block_Adminhtml_Sales_Order_View_Tab_Shipments</sales_order_view_tab_shipments>
                    <sales_shipment_grid>Transsmart_Shipping_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
                    <shipping_carrier_tablerate_grid>Transsmart_Shipping_Block_Adminhtml_Shipping_Carrier_Tablerate_Grid</shipping_carrier_tablerate_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <transsmart_shipping>
                <class>Transsmart_Shipping_Helper</class>
            </transsmart_shipping>
        </helpers>
        <models>
            <transsmart_shipping>
                <class>Transsmart_Shipping_Model</class>
                <resourceModel>transsmart_shipping_resource</resourceModel>
            </transsmart_shipping>
            <transsmart_shipping_resource>
                <class>Transsmart_Shipping_Model_Resource</class>
                <entities>
                    <sync>
                        <table>transsmart_sync</table>
                    </sync>
                    <carrier>
                        <table>transsmart_carrier</table>
                    </carrier>
                    <servicelevel_time>
                        <table>transsmart_servicelevel_time</table>
                    </servicelevel_time>
                    <servicelevel_other>
                        <table>transsmart_servicelevel_other</table>
                    </servicelevel_other>
                    <carrierprofile>
                        <table>transsmart_carrierprofile</table>
                    </carrierprofile>
                    <shipmentlocation>
                        <table>transsmart_shipmentlocation</table>
                    </shipmentlocation>
                    <emailtype>
                        <table>transsmart_emailtype</table>
                    </emailtype>
                    <packagetype>
                        <table>transsmart_packagetype</table>
                    </packagetype>
                    <incoterm>
                        <table>transsmart_incoterm</table>
                    </incoterm>
                    <costcenter>
                        <table>transsmart_costcenter</table>
                    </costcenter>
                </entities>
            </transsmart_shipping_resource>
            <sales>
                <rewrite>
                    <quote_address_rate>Transsmart_Shipping_Model_Sales_Quote_Address_Rate</quote_address_rate>
                    <quote_address_total_shipping>Transsmart_Shipping_Model_Sales_Quote_Address_Total_Shipping</quote_address_total_shipping>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <order>Transsmart_Shipping_Model_Sales_Resource_Order</order>
                </rewrite>
            </sales_resource>
            <shipping>
                <rewrite>
                    <carrier_tablerate>Transsmart_Shipping_Model_Shipping_Carrier_Tablerate</carrier_tablerate>
                </rewrite>
            </shipping>
            <shipping_resource>
                <rewrite>
                    <carrier_tablerate>Transsmart_Shipping_Model_Shipping_Resource_Carrier_Tablerate</carrier_tablerate>
                </rewrite>
            </shipping_resource>
        </models>
        <resources>
            <transsmart_shipping_setup>
                <setup>
                    <module>Transsmart_Shipping</module>
                </setup>
            </transsmart_shipping_setup>
        </resources>
        <events>
            <sales_order_shipment_save_before>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/observer</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </transsmart_shipping>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_resource_save_attribute_after>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/observer</class>
                        <method>salesOrderShipmentResourceSaveAttributeAfter</method>
                    </transsmart_shipping>
                </observers>
            </sales_order_shipment_resource_save_attribute_after>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/observer</class>
                        <method>checkoutControllerOnepageSaveShippingMethod</method>
                    </transsmart_shipping>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <controller_action_predispatch_gomage_checkout>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/observer</class>
                        <method>controllerActionPredispatchGomageCheckout</method>
                    </transsmart_shipping>
                </observers>
            </controller_action_predispatch_gomage_checkout>
            <sales_convert_quote_to_order>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/observer</class>
                        <method>salesConvertQuoteToOrder</method>
                    </transsmart_shipping>
                </observers>
            </sales_convert_quote_to_order>
            <checkout_type_onepage_save_order>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/observer</class>
                        <method>checkoutTypeOnepageSaveOrder</method>
                    </transsmart_shipping>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_convert_order_to_quote>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/observer</class>
                        <method>salesConvertOrderToQuote</method>
                    </transsmart_shipping>
                </observers>
            </sales_convert_order_to_quote>
            <transsmart_shipping_shipment_label_printed>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/observer</class>
                        <method>transsmartShippingShipmentLabelPrinted</method>
                    </transsmart_shipping>
                </observers>
            </transsmart_shipping_shipment_label_printed>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <transsmart_servicepoint_id>
                    <to_order_address>*</to_order_address>
                </transsmart_servicepoint_id>
                <transsmart_carrierprofile_id>
                    <to_order_address>*</to_order_address>
                </transsmart_carrierprofile_id>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <transsmart_servicepoint_id>
                    <to_quote_address>*</to_quote_address>
                </transsmart_servicepoint_id>
                <transsmart_carrierprofile_id>
                    <to_quote_address>*</to_quote_address>
                </transsmart_carrierprofile_id>
            </sales_convert_order_address>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <transsmart_shipping before="Mage_Adminhtml">Transsmart_Shipping_Adminhtml</transsmart_shipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Adminhtml>
                    <files>
                        <transsmart_shipping>Transsmart_Shipping.csv</transsmart_shipping>
                    </files>
                </Mage_Adminhtml>
            </modules>
        </translate>
        <layout>
            <updates>
                <transsmart_shipping>
                    <file>transsmart_shipping.xml</file>
                </transsmart_shipping>
            </updates>
        </layout>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/adminhtml_observer</class>
                        <method>adminhtmlInitSystemConfig</method>
                    </transsmart_shipping>
                </observers>
            </adminhtml_init_system_config>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/adminhtml_observer</class>
                        <method>adminhtmlSalesOrderCreateProcessData</method>
                    </transsmart_shipping>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <adminhtml_block_html_before>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/adminhtml_observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </transsmart_shipping>
                </observers>
            </adminhtml_block_html_before>
            <sales_order_shipment_save_before>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/adminhtml_observer</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </transsmart_shipping>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <transsmart_shipping>
                        <class>transsmart_shipping/adminhtml_observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </transsmart_shipping>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Transsmart_Shipping>
                    <files>
                        <default>Transsmart_Shipping.csv</default>
                    </files>
                </Transsmart_Shipping>
            </modules>
        </translate>
        <layout>
            <updates>
                <transsmart_shipping>
                    <file>transsmart_shipping.xml</file>
                </transsmart_shipping>
            </updates>
        </layout>
        <routers>
            <transsmart_shipping>
                <use>standard</use>
                <args>
                    <module>Transsmart_Shipping</module>
                    <frontName>transsmart_shipping</frontName>
                </args>
            </transsmart_shipping>
        </routers>
    </frontend>
    <default>
        <carriers>
            <transsmartdelivery>
                <active>1</active>
                <model>transsmart_shipping/shipping_carrier_delivery</model>
                <title backend_model="transsmart_shipping/adminhtml_system_config_backend_localized">Delivery</title>
                <sort_order>10</sort_order>
            </transsmartdelivery>
            <transsmartpickup>
                <active>1</active>
                <model>transsmart_shipping/shipping_carrier_pickup</model>
                <title backend_model="transsmart_shipping/adminhtml_system_config_backend_localized">Pickup</title>
                <sort_order>20</sort_order>
            </transsmartpickup>
        </carriers>
        <transsmart_shipping>
            <connection>
                <environment>1</environment>
            </connection>
            <mapping>
                <street>1</street>
                <streetno>0</streetno>
                <street2>2</street2>
                <description>short_description</description>
                <country_of_origin>country_of_manufacture</country_of_origin>
            </mapping>
        </transsmart_shipping>
    </default>
    <crontab>
        <jobs>
            <transsmart_shipping_sync_shipments>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>transsmart_shipping/sync::syncShipments</model>
                </run>
            </transsmart_shipping_sync_shipments>
        </jobs>
    </crontab>
</config>
