<?xml version="1.0"?>
<config>
    <modules>
       <Total_BuckarooTransferGarant>
          <version>0.3.20</version>
       </Total_BuckarooTransferGarant>
    </modules>

    <global>
    <blocks>
        <buckarootransfergarant>
            <class>Total_BuckarooTransferGarant_Block</class>
        </buckarootransfergarant>
    </blocks>

        <models>
			<buckarootransfergarant>
                <class>Total_BuckarooTransferGarant_Model</class>
            </buckarootransfergarant>
        </models>
	    <helpers>
            <buckarootransfergarant>
                <class>Total_BuckarooTransferGarant_Helper</class>
			</buckarootransfergarant>  
        </helpers>
        <resources>
            <buckarootransfergarant_setup>
                <setup>
                    <module>Total_BuckarooTransferGarant</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </buckarootransfergarant_setup>
            <buckarootransfergarant_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </buckarootransfergarant_write>
            <buckarootransfergarant_read>
               <connection>
                <use>core_read</use>
              </connection>
            </buckarootransfergarant_read>
        </resources>

    </global>

    <frontend>
	    <routers>
	        <buckarootransfergarant>
	            <use>standard</use>
	            <args>
	                <module>Total_BuckarooTransferGarant</module>
	                <frontName>buckarootransfergarant</frontName>
	            </args>
	        </buckarootransfergarant>
	    </routers>
	    <translate>
            <modules>
                <Total_BuckarooTransferGarant>
                    <files>
                        <default>Total_BuckarooTransferGarant.csv</default>
                    </files>
                </Total_BuckarooTransferGarant>
            </modules>
        </translate>
    </frontend>

    <default>
        <payment>
            <buckarootransfergarant>
                <active>1</active>
                <model>buckarootransfergarant/paymentMethod</model>
                <title>Achteraf betalen</title>
                <order_status>pending</order_status>				
                <allowspecific>0</allowspecific>
                <datedue>14</datedue>
                <sendmail>0</sendmail>
            </buckarootransfergarant>
         </payment>
    </default>
</config>