<?xml version="1.0"?>
<config>
   <tabs>
        <shopializable_tab translate="label" module="shopializable">
            <label>Shopializable</label>
            <sort_order>100</sort_order>
        </shopializable_tab>
    </tabs> 
    <sections>
        <shopializable translate="label" module="shopializable">
            <label>Configuration</label>
            <tab>shopializable_tab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>101</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <shopializable translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <boutique_name translate="label,comment">
                            <label>Name of the shop</label>
                            <comment>Here is the name of the shop that will be shown on Facebook</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </boutique_name>
                        <boutique_logo translate="label,comment">
                            <label>Logo's url of the shop</label>
                            <comment>Enter the logo's url that will be displayed at the top of the Facebook page</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </boutique_logo>
                        <boutique_image translate="label,comment">
                            <label>Picture's url of the shop</label>
                            <comment>Enter the picture's url that will be displayed in the homepage of the Facebook application</comment>
                            <frontend_type>text</frontend_type>
                            <value></value>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </boutique_image> 
                        <boutique_description translate="label,comment">
                            <label>Description of the shop</label>
                            <comment>Here is the description of the shop that will be shown on Facebook</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </boutique_description> 
                        <boutique_template translate="label,comment">
                            <label>Template</label>
                            <comment>Here is the name of the template that you will use. The template must be in the "template" folder.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </boutique_template>                       
                        <boutique_nbr translate="label,comment">
                            <label>Number of products per page</label>
                            <comment>Number of products that will be shown in the Facebook page.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </boutique_nbr>
                        <category_home translate="label,comment">
                            <label>Default category to show on the application homepage</label>
                            <comment>The products of the category will be shown on the Facebook homepage.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_home>
                    </fields>
                </shopializable>
            </groups>
        </shopializable>
    </sections>
</config>