<?xml version="1.0"?>
<config>
	<modules>
		<Twm_Productredirect>
			<version>0.1.0</version>
		</Twm_Productredirect>
	</modules>
    <global>
        <models>
            <productredirect>
                <class>Productredirect_Model</class>
            </productredirect>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <twm_productredirect_model_observer>
                        <type>singleton</type>
                        <class>Twm_Productredirect_Model_Observer</class>
                        <method>observe</method>
                    </twm_productredirect_model_observer>
                </observers>
            </controller_action_predispatch>

        </events>
    </frontend>
</config>
