<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/** 
* Magento Module developed by NoStress Commerce 
* 
* NOTICE OF LICENSE 
* 
* This source file is subject to the Open Software License (OSL 3.0) 
* that is bundled with this package in the file LICENSE.txt. 
* It is also available through the world-wide-web at this URL: 
* http://opensource.org/licenses/osl-3.0.php 
* If you did of the license and are unable to 
* obtain it through the world-wide-web, please send an email 
* to info@nostresscommerce.cz so we can send you a copy immediately. 
* 
* @copyright Copyright (c) 2009 NoStress Commerce (http://www.nostresscommerce.cz) 
* 
*/ 

/**
 * Defines interface for exports script execution settings
 *
 * @category   Nostress
 * @package    Nostress_Nscexport 
 */
-->
<config>
    <tabs>
        <nostress_modules translate="label" module="nscexport">
            <label>Nostress Modules</label>
            <sort_order>555</sort_order>
        </nostress_modules>
    </tabs>
   
	<sections>
		<nostress_modules translate="label" module="nscexport">
            <class>separator-top</class>
            <label>NoStress Modules</label>
            <tab>nostress_modules</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>                
                <nostress_dashboard translate="label">
                    <label>Dashboard</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<header translate="label">               
                            <frontend_model>nscexport/version_header</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header>
         				<nscexport translate="label">                 
                            <frontend_model>nscexport/version_version</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nscexport>
                        <footer translate="label">
                            <frontend_model>nscexport/version_footer</frontend_model>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </footer>
                    </fields>
                </nostress_dashboard>
            </groups>
        </nostress_modules>
        <nscexport translate="label" module="nscexport">
            <label>XML Feed Export</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>   
            	<general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<add_products translate="label">
                            <label>Automaticaly add new products to export profiles</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                    		<show_in_website>0</show_in_website>
                    		<show_in_store></show_in_store>
                       </add_products> 
                       <url_store translate="label">
                            <label>Use store name in URL path</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                    		<show_in_website>0</show_in_website>
                    		<show_in_store></show_in_store>
                       </url_store> 
                       <url_category translate="label">
                            <label>Use categories path for product URLs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                    		<show_in_website>1</show_in_website>
                    		<show_in_store>1</show_in_store>
                       </url_category> 
                       <suffix_show translate="label">
                            <label>Show file suffix in engin's title</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                    		<show_in_website>1</show_in_website>
                    		<show_in_store>1</show_in_store>
                       </suffix_show>                                                                                                                                                                                                                           
                    </fields>
                </general>               	
                <nscexport translate="label">
                    <label>Batch Export Settings</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>nscexport/version_element</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <show_in_store></show_in_store>
                    <fields>
                       <batch_size translate="label">
                            <label>Number of products in one batch</label>
                            <frontend_type>select</frontend_type>
                            <source_model>nscexport/config_source_productgroupsize</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </batch_size>
                        <time_rest translate="label">
                            <label>Time of regular stop of script execution(seconds)</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>nscexport/config_backend_secondsbeforefinish</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Valid values range from 1 to 120.</comment>
                        </time_rest>                                                                                                                                                                                                                
                    </fields>
                </nscexport> 
                <ga translate="label">
                    <label>Google Analytics</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                       <enabled translate="label">
                            <label>Use Google Analytics Nostress rewrite</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                       </enabled>
                       <!-- <domainname translate="label">
                            <label>DomainName</label>
                            <comment><![CDATA[Leave empty for standard setups <br/><a href="http://code.google.com/apis/analytics/docs/tracking/gaTrackingSite.html#domainSubDomains">Google Documentation</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </domainname>   -->                                                                                                                                                                                                                             
                    </fields>
                </ga> 
                <merchant translate="label">
                    <label>Merchant Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store></show_in_store>
                    <fields>
                       <lovecnacene_username translate="label">
                            <label>Lovecnacene.si merchant name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lovecnacene_username> 
                        <bolha_username translate="label">
                            <label>Bolha.com merchant name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                       	</bolha_username>                                                                                                                                                                                                                                
                    </fields>
                </merchant> 
                <engines translate="label">
                    <label>Feed Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store></show_in_store>
                    <fields>
                    	<allow translate="label">
                            <label>Allow feeds</label>
                            <frontend_type>multiselect</frontend_type>
                            <backend_model>nscexport/config_backend_feed</backend_model>
                            <source_model>nscexport/config_source_feed</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </allow>
                	</fields>
                </engines>                                              
            </groups>
        </nscexport>
	</sections>   
</config>
