/**
 * Docdata Additional styles for default layout.
 *
 * Used for positioning / aligning fields properly which have been added for specific payment methods
 */

#fields-container-afterpay .form-list {
	overflow: hidden; /* To make sure the form is cleared properly of floats..? */
}

/* */
#fields-container-afterpay.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

#fields-container-afterpay .billing-shipping-same {
	display:none;
}

#fields-container-afterpay .input-box.small input {
	width: 50px;
}

#fields-container-afterpay label.billing_housenumber em,
#fields-container-afterpay label.shipping_housenumber em {
	float: none;
	position: relative;
	right: 0;
}

#fields-container-afterpay input.afterpay_housenumber {
	margin: 0 45px 0 0;
}

#fields-container-afterpay .input-box input {
	width: 155px;
}
.messages .openorder {
	background-image:none;
}
.openorder .openorder-items li {
	list-style: inside disc;
}